## NOTE THAT NONE OF THESE INDIVIDUATED CAMPAIGN DATAFRAME FOLDERS ARE LIKELY TO WORK! All sensitive data has been stripped.  as per the readme, you can start from the completed campaign data and secured df csv's, or plug your own mailchimp data in here!

In [133]:
import pandas as pd

## Import CSV's as pandas Dataframes for each individual mailchimp metric in the reports

In [203]:
dfbounce =  pd.read_csv("members_Love_Parade_And_More_Winner_bounces_May_19_2019.csv")
dfclicks =  pd.read_csv("members_Love_Parade_And_More_Winner_click_activity_May_19_2019.csv")
dfnoopen = pd.read_csv("members_Love_Parade_And_More_Winner_not_opened_May_19_2019.csv")
dfopen = pd.read_csv("members_Love_Parade_And_More_Winner_opened_May_19_2019.csv")
dfsent = pd.read_csv("members_Love_Parade_And_More_Winner_sent_May_19_2019.csv")
dfunsubscribe = pd.read_csv("members_Love_Parade_And_More_Winner_unsub-reasons_May_19_2019.csv")

In [204]:
# Sum campaign data
df_campaign_sum = pd.read_csv("../../campaign_sum_data.csv")

In [205]:
df_campaign_sum

,Title,Subject,List,Send Date,Send Weekday,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,...,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id,Unique Id,Total Orders,Total Gross Sales,Total Revenue
0,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource,"Dec 12, 2018 07:45 am",Wednesday,937,783,28,126,154,...,0.13%,1,14,0,0,0,dfbbba4bf8,0,0,0
1,(copy 01),Register as a member before New Years to get y...,Lightsource,"Dec 21, 2018 07:45 am",Friday,1839,1784,39,16,55,...,0.22%,5,65,0,0,0,1e819b6ddd,0,0,0
2,Escape The Planet // Off To Space,FRIDAY NIGHT - Escape The Planet // OFF TO SPACE,Lightsource,"Feb 21, 2019 09:59 pm",Thursday,1760,1723,31,6,37,...,0.29%,6,31,0,0,0,84c4abc48c,0,0,0
3,Free Hugs,10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 11, 2019 07:30 am",Monday,1890,1700,46,144,190,...,0.12%,2,20,0,0,0,325eb1f748,0,0,0
4,Stickers 2019 fundraiser,LAST CHANCE get free pack of stickers before t...,Lightsource,"Mar 16, 2019 08:45 am",Saturday,1726,1652,33,41,74,...,0.54%,11,38,1,0,0,2cb6b6e6f5,0,0,0
5,Free Hugs (copy 01),10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 22, 2019 08:15 am",Friday,1648,1594,9,45,54,...,0.19%,3,10,0,0,0,bdfcb490de,0,0,0
6,Free Hugs (copy 02),This Saturday Annual Pillow Fight at Washingto...,Lightsource,"Apr 04, 2019 12:15 am",Thursday,1592,1582,4,6,10,...,0.25%,4,10,0,0,0,6db38d21e8,0,0,0
7,Love Parade and More | Combo 1,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,199,183,5,11,16,...,0.55%,1,1,0,0,0,652dbec20c,0,0,0
8,Love Parade and More | Combo 2,Disrupt with JOY! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,198,170,14,14,28,...,0.59%,1,2,0,0,0,47d54435c8,0,0,0
9,Love Parade and More,NaN,Lightsource,"May 05, 2019 07:30 am",Sunday,1809,1570,121,118,239,...,0.25%,0,11,0,0,0,a94ce6d5bc,0,0,0
10,Love Parade and More | Winner,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 11:29 am",Sunday,1412,1217,102,93,195,...,0.16%,2,8,0,0,0,c1a600e566,0,0,0
11,Love Parade Last Shoutout | Combo 2,DISRUPT WITH LOVE THIS SATURDAY! #FreeHugsNYC ...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,311,25,0,25,...,0.00%,0,2,0,0,0,a1aed6838d,0,0,0
12,Love Parade Last Shoutout | Combo 1,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,307,29,0,29,...,0.33%,2,4,0,0,0,f8f95de4ae,0,0,0
13,Love Parade Last Shoutout,NaN,Lightsource,"May 09, 2019 08:30 am",Thursday,1682,1558,124,0,124,...,0.32%,0,9,0,0,0,cbeb25b286,0,0,0
14,Love Parade Last Shoutout | Winner,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 05:29 pm",Thursday,1010,940,70,0,70,...,0.43%,5,3,0,0,0,b4c825516b,0,0,0

###### Select the row with our specific campaigns sum data

In [280]:
campaign_data = df_campaign_sum.iloc[10, 5:10].to_frame()

In [281]:
campaign_data = campaign_data.T.head()

In [282]:
campaign_data.reset_index(inplace=True)

In [283]:
campaign_data['campaign_id'] = campaign_data['index']

In [284]:
campaign_data = campaign_data.iloc[:, 1:]

In [285]:
campaign_data

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,campaign_id
0,1412,1217,102,93,195,10

In [286]:
dfbounce.shape

(116, 11)

In [287]:
dfclicks.shape

(1, 12)

In [288]:
dfnoopen.shape

(1096, 11)

In [289]:
dfopen.shape

(117, 11)

In [290]:
dfsent.shape

(1213, 11)

In [291]:
dfunsubscribe.shape

(4, 14)

# How to anonymize sensitive data in a mailchimp report, using a pandas dataframe

## Generate a blank list, where you can use the extend method with the tolist method to feed list versions of these email addresses from all the metrics in these dataframe.

In [292]:
full_email_list = [] #Thanks for help with this Thomas Ludlow!

In [293]:
full_email_list.extend(dfbounce['Email Address'].tolist())

In [294]:
full_email_list.extend(dfclicks['Email Address'].tolist())

In [295]:
full_email_list.extend(dfnoopen['Email Address'].tolist())

In [296]:
full_email_list.extend((dfopen['Email Address'].tolist()))

In [297]:
full_email_list.extend(dfsent['Email Address'].tolist())

In [298]:
full_email_list.extend(dfunsubscribe['Email Address'].tolist())

In [299]:
len(full_email_list)

2547

In [300]:
len(set(full_email_list))

1329

### Save as a set, to remove duplicates.  Now you have a concise set of emails

In [301]:
the_email_list10 = set(full_email_list)

In [302]:
the_email_list10 = pd.DataFrame(the_email_list10)

In [303]:
the_email_list10.head()

                          0
0     blerasllani@yahoo.com
1        maryrtek@gmail.com
2  artofnoise.mix@gmail.com
3       olya.olga@gmail.com
4           eml2283@aim.com

In [304]:
the_email_list10["Email Address"] = the_email_list10[0]

In [305]:
the_email_list10.pop(0).head()

0       blerasllani@yahoo.com
1          maryrtek@gmail.com
2    artofnoise.mix@gmail.com
3         olya.olga@gmail.com
4             eml2283@aim.com
Name: 0, dtype: object

In [306]:
the_email_list10.head()

              Email Address
0     blerasllani@yahoo.com
1        maryrtek@gmail.com
2  artofnoise.mix@gmail.com
3       olya.olga@gmail.com
4           eml2283@aim.com

In [307]:
the_email_list10.to_csv("email_list10.csv")

### Use a numpy random shuffling method such as below, to randomly shuffle your emails.

In [308]:
import numpy as np

In [309]:
shuffled_email_list = the_email_list10.reindex(np.random.permutation(the_email_list10.index))

In [310]:
shuffled_email_list.head()

              Email Address
137        ntjcbs@gmail.com
303   orendrummer@walla.com
153  yulfonatalia@yahoo.com
484   arieldelion@gmail.com
193     atonmaiti@gmail.com

### Reset your index, so this new shuffled list now has an entirely new one.  Then delete the old 'index' column that contains your original index.

In [311]:
shuffled_email_list.reset_index(inplace = True)

In [312]:
shuffled_email_list.drop(columns=['index'],inplace = True)
shuffled_email_list.head()

            Email Address
0        ntjcbs@gmail.com
1   orendrummer@walla.com
2  yulfonatalia@yahoo.com
3   arieldelion@gmail.com
4     atonmaiti@gmail.com

In [313]:
shuffled_email_list.head()

            Email Address
0        ntjcbs@gmail.com
1   orendrummer@walla.com
2  yulfonatalia@yahoo.com
3   arieldelion@gmail.com
4     atonmaiti@gmail.com

### Set this new index as email_index - you will use this instead of sensitive data to anonymize your audience, once you pd.merge all lists to this index.

In [314]:
# Or do this process to the full list.

In [315]:
shuffled_email_list['email_id'] = shuffled_email_list.index

In [316]:
shuffled_email_list.head()

            Email Address  email_id
0        ntjcbs@gmail.com         0
1   orendrummer@walla.com         1
2  yulfonatalia@yahoo.com         2
3   arieldelion@gmail.com         3
4     atonmaiti@gmail.com         4

#### Save this outside of your repo or other publicly accessible directory.  This should be stored separately from any public git repos or anywhere else publicly accessible, and be used for your purposes only, to link this information back to your audience.

In [317]:
shuffled_email_list.to_csv("../../../sensitive_info/email_secret_key10.csv")

### Opens and no opens are a simple merger, where you impute the correct value to your no opens dataframe, 0, below.  They are then structured pretty much identically.

In [318]:
dfnoopen['Opens'] = 0

In [319]:
dfnoopen

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,a_drew272@yahoo.com,a_drew,NaN,US,NaN,NaN,Solomons Contacts,4TZXXFAPG149GXBD5TJQNAYXCC,2.0,2,0
1,justinyoung@thevitalfarm.com,Justin,Young,US,NaN,NaN,NaN,ZA6HAC3WV92RENP2NF1PYTP8N0,2.0,2,0
2,haynes.ps@gmail.com,Peter,Haynes,US,NaN,NaN,Solomons Contacts,3BCFBP0K6D3DCTJM1BASRRNYV8,2.0,2,0
3,adopang@yahoo.com,Adrian,NaN,US,NaN,NaN,Solomons Contacts,59220KPPFN55JQS1QPTKCA6BNM,2.0,2,0
4,edadeniz@aol.com,Deniz,NaN,US,NaN,NaN,Solomons Contacts,RXDGFP7AM12Q8K05NRYX4STB2G,2.0,2,0
5,soawesome79@aol.com,Peter,McLeen,US,NaN,NaN,Solomons Contacts,QDY451ZHFD44RKFEH7V49254R0,2.0,2,0
6,Defneinhan@gmail.com,Dephne,Inhan,US,NaN,NaN,NaN,0X4RWNQDE1336KMFAKJ21EFEN4,2.0,2,0
7,dhafer10@gmail.com,Derek,NaN,US,NaN,NaN,Solomons Contacts,CC0R20JME13TYYT0A4CS7FPEZC,2.0,2,0
8,cyrus0520@gmail.com,Phil,Elders,US,NaN,NaN,NaN,KRZGDESWSX03RNWZBR3W01C638,2.0,2,0
9,queenielulubeanie@gmail.com,Desiree Lulukramer,Perkins,US,NaN,NaN,NaN,W9X5R8C5RH2QYG60TR9WBNAS4M,2.0,2,0
10,philipherring86@yahoo.com,Phil,NaN,US,NaN,NaN,Solomons Contacts,NBS4PZ72754T6S00CHWT2HPBNM,2.0,2,0
11,kds8508@gmail.com,kapeel,NaN,US,NaN,NaN,Solomons Contacts,FCDYSMX97S6N4N7TF6PEGH4A98,2.0,2,0
12,ambiguouscat@yahoo.com,Philip,Shlain,US,NaN,NaN,Solomons Contacts,HV5NDH8RK168CG5SGA0W8BP4RW,2.0,2,0
13,psteinberg920@aol.com,Philip,Steinberg,US,NaN,NaN,Solomons Contacts,FN6F5VJ0YH5Z8WRD28BJ7AEHR0,2.0,2,0
14,devikakumar20@gmail.com,devika,NaN,US,NaN,NaN,Solomons Contacts,T3MFCY7DD146TG3176MXEA2WS0,2.0,2,0
15,karenlampiasi@aol.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,TQZ14MYW4N64EV0QYNABZCHQDR,2.0,2,0
16,dummyboy91@gmail.com,ahmed,abbas,US,NaN,NaN,Solomons Contacts,4KE0QWWT9N5JPXTPWA037KTDQC,2.0,2,0
17,kefredrickson@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,6K47MPP85N7RAH99F4QR9E9P48,2.0,3,0
18,psomoray@gmail.com,Pierre,NaN,US,NaN,NaN,Solomons Contacts,AWCAK2MX31094WWKF0ZMTWPWZG,2.0,2,0
19,karin.luu@gmail.com,Karin,NaN,US,NaN,NaN,Solomons Contacts,17CG46SVD55XTJX9X4WXXD444G,2.0,2,0
20,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2,0
21,karinam805@yahoo.com,Karina,NaN,US,NaN,NaN,Solomons Contacts,WQMG0JYRQX67JMXKTV29AVRCY8,2.0,2,0
22,karoline.keller@gmx.de,Karoline,keller,US,NaN,NaN,Solomons Contacts,7M30GRRS5H374H359TQADDRRFM,2.0,2,0
23,sharon.kasper@mlb.com,Kasper,NaN,US,NaN,NaN,Solomons Contacts,NEGEK4THH15B6RF8PYGRCPQSY8,2.0,2,0
24,dharmashree.iyengar@gmail.com,Dharmashree,Iyengar,US,NaN,NaN,Solomons Contacts,E8PPTFTDF50GTN92KKFFTZ5AZR,2.0,2,0
25,ramsash@mail.ru,Ajpu,NaN,US,NaN,NaN,NaN,BSJQV5WXRD0AAMPA5PFBT90G8G,2.0,2,0
26,katieb716@gmail.com,Kate,NaN,US,NaN,NaN,Solomons Contacts,C6WBMVCA5D4RRG3DWQ8YRHK40G,2.0,2,0
27,laughcrylouder@gmail.com,Pooja,Karina,US,NaN,NaN,NaN,Y8D10XVXY90JMGFK6BQ60RFSJ8,2.0,2,0
28,diamondxluvzxcollege@gmail.com,Diamond,Mason,US,NaN,NaN,Solomons Contacts,9ZZNWYQ78H46CR5RDGGS7VX2VG,2.0,2,0
29,l3l_a@yahoo.com,poop,head,US,NaN,NaN,Solomons Contacts,2ZCEB2CVCN6JGSXPW64SH10P18,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
1066,superstar654jj@gmail.com,Joshua,Jones,US,NaN,NaN,NaN,NaN,NaN,2,0
1067,lightsmithart@gmail.com,Joshua,Smith,US,NaN,NaN,NaN,NaN,NaN,2,0
1068,joshuavargas18@hotmail.com,Joshua,Vargas,US,NaN,NaN,NaN,NaN,NaN,2,0
1069,edj.uv.reason@gmail.com,Joy,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1070,jcmuller@gmail.com,Juan,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1071,Jmfesko@aol.com,Julia,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1072,julia.kitcey@gmail.com,Julia,Kitcey,US,NaN,NaN,NaN,NaN,NaN,2,0
1073,juliehopeb@gmail.com,Julie,Balter,US,NaN,NaN,NaN,NaN,NaN,2,0
1074,julie@julieellis.com,Julie,Ellis,US,NaN,NaN,NaN,NaN,NaN,2,0
1075,julie.anderson@murphycobb.com,Julie,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1076,jvallun@yahoo.com,Julie,Vallun,US,NaN,NaN,NaN,NaN,NaN,2,0
1077,Jewelissax3@gmail.com,Julissa,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1078,justin_poet@yahoo.com,Justin,Cordes,US,NaN,NaN,NaN,NaN,NaN,2,0
1079,wholehealing@gmail.com,Justin,Green,US,NaN,NaN,NaN,NaN,NaN,2,0
1080,justsiev1@gmail.com,Justin,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1081,justinstonediaz@gmail.com,Justin,Stone-Diaz,US,NaN,NaN,NaN,NaN,NaN,2,0
1082,pankajbhushan@gmail.com,pankaj,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1083,papergangproductions@gmail.com,papergangproductions,NaN,US,NaN,NaN,NaN,NaN,NaN,1,0
1084,mercurypub@sbcglobal.net,Patrice,Kaufman,US,NaN,NaN,NaN,NaN,NaN,2,0
1085,patriciawright321@gmail.com,Patricia,Wright,US,NaN,NaN,NaN,NaN,NaN,2,0
1086,patriciosuarez87@gmail.com,Patricio,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1087,patbailey112@gmail.com,Patrick,Bailey,US,NaN,NaN,NaN,NaN,NaN,2,0
1088,paulingrisano@aol.com,Paul,Ingrisano,US,NaN,NaN,NaN,NaN,NaN,2,0
1089,duskskies@aol.com,Paul,Osborne,US,NaN,NaN,NaN,NaN,NaN,2,0
1090,paulle35@gmail.com,Paul,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1091,pjmoon322@live.com,Paula,Freund,US,NaN,NaN,NaN,NaN,NaN,2,0
1092,paulo_amorim@me.com,Paulo,Amorim,US,NaN,NaN,NaN,NaN,NaN,2,0
1093,pavares8@hotmail.com,pavares,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1094,sunshinelam1028@aol.com,Peggy,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1095,peteagiordano@yahoo.com,Pete,Giordano,US,NaN,NaN,NaN,NaN,NaN,2,0

In [320]:
df_opens = dfopen.merge(dfnoopen, how = "outer")

In [321]:
df_opens.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1
1,pheralescapes@gmail.com,Pheral,Lamb,US,NaN,NaN,NaN,GEH3QSY1650DWH4EQTDPRBBYFC,2.0,3,2
2,desmond.eaddy@gmail.com,Desmond,NaN,US,NaN,NaN,Solomons Contacts,5H56D8JDZ97ZEZQN2PZZK3SWAC,2.0,3,3
3,silberg.al@gmail.com,Alana,Silberg,US,NaN,NaN,NaN,0NF4EJBYRS6T6RMVH7FDQ869VM,2.0,3,1
4,prungta2@gmail.com,Prateek,NaN,US,NaN,NaN,Solomons Contacts,QW1Z8VY3CX2Y6S0SKBTKT08HR8,2.0,3,1

In [322]:
df_opens.shape

(1213, 11)

In [323]:
df_opens_sent = df_opens.merge(dfsent, how = "outer")

In [324]:
df_opens_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1,sent
1,pheralescapes@gmail.com,Pheral,Lamb,US,NaN,NaN,NaN,GEH3QSY1650DWH4EQTDPRBBYFC,2.0,3,2,sent
2,desmond.eaddy@gmail.com,Desmond,NaN,US,NaN,NaN,Solomons Contacts,5H56D8JDZ97ZEZQN2PZZK3SWAC,2.0,3,3,sent
3,silberg.al@gmail.com,Alana,Silberg,US,NaN,NaN,NaN,0NF4EJBYRS6T6RMVH7FDQ869VM,2.0,3,1,sent
4,prungta2@gmail.com,Prateek,NaN,US,NaN,NaN,Solomons Contacts,QW1Z8VY3CX2Y6S0SKBTKT08HR8,2.0,3,1,sent

#### the bounce and dataframe set are similar.  Just set the "Bounce type" in sent to "Sent" before merging.

In [325]:
dfbounce.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,jackofalltradescontracting@yahoo.com,Adrian,Slezak,US,NaN,NaN,Solomons Contacts,YVM7XRNQCX112JE3V73CN2HBN4,NaN,1,soft
1,pgpeterp@yahoo.com,Peter,Pantera,US,NaN,NaN,Solomons Contacts,WWGH1KMRF9544PVBT1X1FWZZTW,2.0,1,soft
2,philip.mccahill@yahoo.com,Philip,McCahill,US,NaN,NaN,Solomons Contacts,34T05G3Q8562PR8AR6HE4082FM,NaN,1,soft
3,agathe.planchon@gustto.com,Agathe,NaN,US,NaN,NaN,Solomons Contacts,H7RW6V1HN51XCW5ZJWE26HTTGC,NaN,1,soft
4,katewoodhouse2@yahoo.co.uk,Kate,Woodhouse,US,NaN,NaN,Solomons Contacts,Y4R1B1N4MS2H2Q1P3HDGE2N498,2.0,1,soft

In [326]:
dfsent['Bounce Type'] = "sent"

In [327]:
dfsent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,a_drew272@yahoo.com,a_drew,NaN,US,NaN,NaN,Solomons Contacts,4TZXXFAPG149GXBD5TJQNAYXCC,2.0,2,sent
1,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,sent
2,justinyoung@thevitalfarm.com,Justin,Young,US,NaN,NaN,NaN,ZA6HAC3WV92RENP2NF1PYTP8N0,2.0,2,sent
3,haynes.ps@gmail.com,Peter,Haynes,US,NaN,NaN,Solomons Contacts,3BCFBP0K6D3DCTJM1BASRRNYV8,2.0,2,sent
4,adopang@yahoo.com,Adrian,NaN,US,NaN,NaN,Solomons Contacts,59220KPPFN55JQS1QPTKCA6BNM,2.0,2,sent

In [328]:
df_bounce_or_sent = dfbounce.merge(dfsent, how='outer')

In [329]:
df_bounce_or_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,jackofalltradescontracting@yahoo.com,Adrian,Slezak,US,NaN,NaN,Solomons Contacts,YVM7XRNQCX112JE3V73CN2HBN4,NaN,1,soft
1,pgpeterp@yahoo.com,Peter,Pantera,US,NaN,NaN,Solomons Contacts,WWGH1KMRF9544PVBT1X1FWZZTW,2.0,1,soft
2,philip.mccahill@yahoo.com,Philip,McCahill,US,NaN,NaN,Solomons Contacts,34T05G3Q8562PR8AR6HE4082FM,NaN,1,soft
3,agathe.planchon@gustto.com,Agathe,NaN,US,NaN,NaN,Solomons Contacts,H7RW6V1HN51XCW5ZJWE26HTTGC,NaN,1,soft
4,katewoodhouse2@yahoo.co.uk,Kate,Woodhouse,US,NaN,NaN,Solomons Contacts,Y4R1B1N4MS2H2Q1P3HDGE2N498,2.0,1,soft

In [330]:
#Our figure here, 1010, shows us we have a complete dataframe
df_bounce_or_sent.shape

(1329, 11)

#### This is the resultant dataframe we want, for each campaign.

In [331]:
df_opens_sent = df_opens_sent.merge(df_bounce_or_sent, how='outer')

In [332]:
df_opens_sent

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1.0,sent
1,pheralescapes@gmail.com,Pheral,Lamb,US,NaN,NaN,NaN,GEH3QSY1650DWH4EQTDPRBBYFC,2.0,3,2.0,sent
2,desmond.eaddy@gmail.com,Desmond,NaN,US,NaN,NaN,Solomons Contacts,5H56D8JDZ97ZEZQN2PZZK3SWAC,2.0,3,3.0,sent
3,silberg.al@gmail.com,Alana,Silberg,US,NaN,NaN,NaN,0NF4EJBYRS6T6RMVH7FDQ869VM,2.0,3,1.0,sent
4,prungta2@gmail.com,Prateek,NaN,US,NaN,NaN,Solomons Contacts,QW1Z8VY3CX2Y6S0SKBTKT08HR8,2.0,3,1.0,sent
5,kathleenmandeville@gmail.com,Kathleen,Mandeville,US,NaN,NaN,NaN,Z58YESHN550TTKNS701PWDNYS0,2.0,3,1.0,sent
6,alecg092@gmail.com,Alec,Gary,US,NaN,NaN,NaN,2WAA2RC34H4D0W4K8HY317SX5R,2.0,2,1.0,sent
7,aleyudico@gmail.com,Alejandro,NaN,US,NaN,NaN,Solomons Contacts,Z7QFNN4GNX742PP5XN6RNYH9MM,2.0,4,1.0,sent
8,katyfogartymontgomery@gmail.com,katy,NaN,US,NaN,NaN,Solomons Contacts,Z5K604SC6D5BCHGFQ06BH0A3YR,2.0,4,1.0,sent
9,douggreene@earthlink.net,Doug,Greene,US,NaN,NaN,Solomons Contacts,493BZ0Z8V100YVWCWPJ53TWDSR,NaN,4,4.0,sent
10,racheloliv@gmail.com,Rachel,Carbonell,US,NaN,NaN,NaN,6PDR8NERN174WT3Z8HMS3TXJ2M,2.0,3,1.0,sent
11,drmayhem@earthlink.net,drmayhem,NaN,US,NaN,NaN,Solomons Contacts,ZA3A16PFBX72EXJQ5WQ4AEP5T4,2.0,3,1.0,sent
12,kelly.shannon@gmail.com,Kelly,Shannon,US,NaN,NaN,Solomons Contacts,MNS313WBXS3RYRZA9EYMCSRGX4,2.0,4,1.0,sent
13,eduardoestrelladr@gmail.com,Eduardo,NaN,US,NaN,NaN,Solomons Contacts,TR5KDGP9Z931WHZV7JW4MNEKAW,2.0,4,1.0,sent
14,keri@healingrootsdesign.com,Keri,Evjy,US,NaN,NaN,NaN,8HT7VNTXF948RY9VZ0VJQ40GR0,2.0,4,1.0,sent
15,aheim812@gmail.com,Alison,NaN,US,NaN,NaN,Solomons Contacts,VEZANA0JQS1QPZA1TGFY7GNQJC,2.0,4,1.0,sent
16,allison.ahearn@gmail.com,Allison,NaN,US,NaN,NaN,Solomons Contacts,8V2DFD1W7X3C8H33QZ5KR5AP5W,2.0,3,1.0,sent
17,consentofthenetworked@gmail.com,Rebecca,MacKinnon,US,NaN,NaN,NaN,D6786XT8RX19GS1JC1PDDBBAJ8,2.0,2,1.0,sent
18,kshah1378@gmail.com,Kulin,NaN,US,NaN,NaN,Solomons Contacts,8EW3HHX33D3QPQZGS5EMQDHEJM,2.0,3,1.0,sent
19,rob.pimpinella@gmail.com,Rob,NaN,US,NaN,NaN,Solomons Contacts,C0KMY2Y5H16TYNJEY1VGXK11D0,2.0,4,1.0,sent
20,agf970@gmail.com,Amy,NaN,US,NaN,NaN,Solomons Contacts,NHREFMSG3S46PZQ634GF0Q14JW,2.0,2,1.0,sent
21,lara.sawczuk@gmail.com,Lara,NaN,US,NaN,NaN,Solomons Contacts,JQPMW42AF16WTW2S7QG45D2R2M,2.0,4,1.0,sent
22,amy.mcinnis@gmail.com,Amy,NaN,US,NaN,NaN,Solomons Contacts,85E2SZKP6N6RCYTPZHWSXWRRKM,2.0,4,2.0,sent
23,lauren.curtin2@gmail.com,Lauren,NaN,US,NaN,NaN,Solomons Contacts,Z0RZZX25H10HYXQMD3TGX919QR,2.0,4,1.0,sent
24,rotemtal5@gmail.com,Rotem,NaN,US,NaN,NaN,Solomons Contacts,EPK86GPFEX7MRQPDAGEWWM7GE0,2.0,3,1.0,sent
25,acoloma123@gmail.com,Andrea,Coloma,US,NaN,NaN,Solomons Contacts,RCHS4BPVW559RPTEXSVKXTE4VC,2.0,2,1.0,sent
26,fitohito@gmail.com,Rudolph,Berain,US,NaN,NaN,NaN,TYT1ZDRB6N0JCSJT7QEFP145XM,2.0,4,1.0,sent
27,samanthaheydt@gmail.com,SAM,NaN,US,NaN,NaN,Solomons Contacts,MEZACYB28H07JJKEJHMGJK8098,2.0,3,2.0,sent
28,ldw284@nyu.edu,Lina,NaN,US,NaN,NaN,NaN,T1BFYJKQE55T6JZVS9QF65JVQR,2.0,2,1.0,sent
29,Sam.cornielle@gmail.com,Samantha,C.,US,NaN,NaN,NaN,MAQ91M0S754Q0Q68S6B0Y9A310,2.0,3,1.0,sent
...,...,...,...,...,...,...,...,...,...,...,...,...
1299,theprez@unlok4prez.com,Unlok,NaN,US,NaN,NaN,NaN,3GKYQXZGA11ETWD25TC66E5BQG,NaN,1,NaN,soft
1300,petercyip@yahoo.com,Chung,Ho Yip,US,NaN,NaN,Solomons Contacts,R5SPH191KH1BRW1WG6VN4YG4N8,2.0,1,NaN,soft
1301,jeremygotwals@yahoo.com,Jeremy,Gotwals,US,NaN,NaN,Solomons Contacts,TJXTB36XEN1SYGMKBV589AK5P8,2.0,1,NaN,soft
1302,vernonbrown68@yahoo.com,Vernon,Brown,US,NaN,NaN,Solomons Contacts,NPX7F08SSD1ZPXPAFMF15BQD3G,NaN,1,NaN,soft
1303,veronicahord@yahoo.com,veronica,NaN,US,NaN,NaN,Solomons Contacts,JQT0Y1YRP903JHVAV7ZG2J2H4W,2.0,1,NaN,soft
1304,theclassicscafe@yahoo.com,Victor,NaN,US,NaN,NaN,Solomons Contacts,BCKJCV7PHN0XRKGTWGY3WHJJM8,2.0,1,NaN,soft
1305,nickruiz25@yahoo.com,Nicholas,NaN,US,NaN,NaN,Solomons Contacts,NZ2JD4MVNS0VWZH8Y3TCTKA468,2.0,1,NaN,soft
1306,viola.glink@yahoo.com,Viola,NaN,US,NaN,NaN,Solomons Contacts,0F5PQR6HSN3TGYAQZBAC7Q2HGC,2.0,1,NaN,soft
1307,vitos.email@yahoo.com,Vito,Abramov,US,NaN,NaN,Solomons Contacts,22VRR3AJPS2F0R7K299363X8C0,2.0,1,NaN,soft
1308,heartlessreyven@yahoo.com,Wanda,Reyes,US,NaN,NaN,Solomons Contacts,NKH3G3NMSD3WAVJT9M0DJ74F58,2.0,1,NaN,soft
1309,berryjoan@yahoo.com,joan,berry,US,NaN,NaN,NaN,SWSM0JHT1N7NJMC7BEBQ17RVEC,2.0,1,NaN,soft
1310,joaquinmcastro@yahoo.com,Joaquin,Castro,US,NaN,NaN,Solomons Contacts,J7MAEAXXDD0CTMNKPYRNRZFT38,2.0,1,NaN,soft
1311,youcreateyou@yahoo.com,Will,Chapman,US,NaN,NaN,Solomons Contacts,6GQERV1WTD4NJT9V73336PSKJC,NaN,1,NaN,soft
1312,joeysmtx@me.com,joey,NaN,US,NaN,NaN,Solomons Contacts,JTSQSVGXA128YKN921Z2JW0WC4,NaN,1,NaN,soft
1313,oleg@usethewand.com,oleg,NaN,US,NaN,NaN,Solomons Contacts,0R3QAA05MH68RM6WZ625AWVDHW,NaN,1,NaN,soft
1314,d_sign4you@yahoo.com,John,NaN,US,NaN,NaN,Solomons Contacts,KFF2QJQ1WN78YZSTQCHCCZXG9G,2.0,1,NaN,soft
1315,myles.worthington@ketchum.com,Worthington,NaN,US,NaN,NaN,Solomons Contacts,8PYCT3GGVD4VGNM579EVC3FXA8,2.0,1,NaN,soft
1316,naturalbless45@yahoo.com,John,NaN,US,NaN,NaN,Solomons Contacts,DMFH983G0113AT7DEGPQQWCS8C,2.0,1,NaN,soft
1317,poolshark20016@yahoo.com,John,NaN,US,NaN,NaN,Solomons Contacts,H8958GR73S7NGPWGQTH3E8VQG0,NaN,1,NaN,soft
1318,john@sistereden.com,John,Robinette,US,NaN,NaN,NaN,K10VVXEYW54PTSBASY6GQNRYE0,2.0,1,NaN,soft
1319,jballin92@hotmail.com,Johnny,Birindiba,US,NaN,NaN,Solomons Contacts,X5EFY6YVSN3BMQPFVXDQF9W7TM,NaN,1,NaN,hard
1320,yamamon_yo@yahoo.com,yoko,shimizu,US,NaN,NaN,NaN,R3AKAQJ9HX21AQF54P2QTWTK9W,NaN,1,NaN,soft
1321,corazonsolar@gmail.com,Pablo,Mendez,US,NaN,NaN,NaN,TQ89KRHG656Q0NGVXMCVM1Y6C4,NaN,1,NaN,hard
1322,jonah@riverfish.us,Jonah,NaN,US,NaN,NaN,NaN,GMGB041WNH6T6HKEXZAK7CY9E4,NaN,1,NaN,soft
1323,neptizzle22@mail.com,Zach,NaN,US,NaN,NaN,Solomons Contacts,BE1GYGY5JX3MPZ2CGZZX7G7PA8,NaN,1,NaN,hard
1324,balancenyc45@yahoo.com,Josh,NaN,US,NaN,NaN,Solomons Contacts,RATM6D4FGH6HGTRRBF0HSA2798,2.0,1,NaN,soft
1325,david@onswipe.com,David,NaN,US,NaN,NaN,NaN,NaN,NaN,1,NaN,soft
1326,ilovejamsomuch@yahoo.com,Denise,Luna,US,NaN,NaN,NaN,NaN,NaN,1,NaN,soft
1327,liaopat@yahoo.com,pat,NaN,US,NaN,NaN,NaN,NaN,NaN,1,NaN,soft
1328,paulsefshuman@yahoo.com,Paul,Campbell,US,NaN,NaN,NaN,NaN,NaN,1,NaN,soft

In [333]:
df_opens_sent.shape

(1329, 12)

In [334]:
df_opens_sent.isnull().sum()

Email Address            0
First Name               0
Last Name              672
Address                  0
Phone Number          1329
Birthday              1329
Reference ID           471
Square Customer ID      85
Member Rating          151
Member Rating.1          0
Opens                  116
Bounce Type              0
dtype: int64

#### Unsubscribes, along with clicks, are more concerned with the content of the email.  So we will also set these aside for now.

In [335]:
dfunsubscribe['unsubscibe reason'] = dfunsubscribe['reason']

In [336]:
dfunsubscribe['unsubscribe description'] = dfunsubscribe['description']

In [337]:
dfunsubscribe.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,reason,description,unsubscibe reason,unsubscribe description
0,mark.p.kelley@gmail.com,Mark,NaN,US,NaN,NaN,Solomons Contacts,6DKCSG3335272JYVTMA2QRNVKR,2,3,NOSIGNUP,NaN,NOSIGNUP,NaN
1,megirb444@gmail.com,Megan,Irby,US,NaN,NaN,NaN,87P2XH4GTD5PGYWZZ93BASEQM8,2,3,NORMAL,NaN,NORMAL,NaN
2,terri.zerman@gmail.com,Terri,NaN,US,NaN,NaN,Solomons Contacts,P9CNCGA639392S2VWGSK6TW62G,2,3,NaN,NaN,NaN,NaN
3,caroline.r.barnett@gmail.com,Caroline,NaN,US,NaN,NaN,Solomons Contacts,2DM5VGE3CX7D0SH0ZRWASZNAYG,2,3,NaN,NaN,NaN,NaN

#### Assign campaign ID

In [338]:
df_opens_sent['campaign_id'] = 10

In [339]:
df_opens_sent_complete = df_opens_sent.merge(campaign_data, how='right')

In [340]:
df_opens_sent_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1.0,sent,10,1412,1217,102,93,195
1,pheralescapes@gmail.com,Pheral,Lamb,US,NaN,NaN,NaN,GEH3QSY1650DWH4EQTDPRBBYFC,2.0,3,2.0,sent,10,1412,1217,102,93,195
2,desmond.eaddy@gmail.com,Desmond,NaN,US,NaN,NaN,Solomons Contacts,5H56D8JDZ97ZEZQN2PZZK3SWAC,2.0,3,3.0,sent,10,1412,1217,102,93,195
3,silberg.al@gmail.com,Alana,Silberg,US,NaN,NaN,NaN,0NF4EJBYRS6T6RMVH7FDQ869VM,2.0,3,1.0,sent,10,1412,1217,102,93,195
4,prungta2@gmail.com,Prateek,NaN,US,NaN,NaN,Solomons Contacts,QW1Z8VY3CX2Y6S0SKBTKT08HR8,2.0,3,1.0,sent,10,1412,1217,102,93,195

#### Assign email ID, using the secret key generated with all emails, from Dataframe_Cleaning123456

In [344]:
secret_key = pd.read_csv("../../../sensitive_info/secret_key.csv")

In [345]:
df_opens_sent_complete = df_opens_sent_complete.merge(secret_key, how = 'right')

In [346]:
df_opens_sent_complete

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,email_id
0,dhines122@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,lts246@nyu.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2,estebannyc@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
3,theyellowunicorn@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
4,amandamactas@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
5,david.buscaglia@nomura.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
6,mariatsaguriya@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
7,denis_grillo@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,7
8,dstern94@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,8
9,Lisacoleman3@verizon.net,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9
10,lnhogan@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10
11,s_monty108@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,11
12,adrianne.kuss@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,12
13,clohanconway@mac.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,13
14,precourt@scorenyc.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,14
15,nathan.james24@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,15
16,colombiangirl236@aol.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,16
17,nickb120@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,17
18,brian.spellen@aol.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,18
19,starhorizonspacecrafts@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,19
20,jamibar@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,20
21,mylasha92@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,21
22,caseyanncarroll@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,22
23,catherinemonzon@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23,23
24,ravinjagoo@cfccap.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,24
25,bkyzv@aol.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,25
26,tsipi_wexler@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,26
27,nikhilhuilgol@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,27
28,lyubovportnykh@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,28
29,seanmash@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,safiru3786@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154,154
155,naghmeh_k89@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155,155
156,jessica_bussey87@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156,156
157,xzotic_ink@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157,157
158,samantha.hess47@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158,158
159,smilefallen1@aim.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159,159
160,santisdeliga@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160,160
161,artist_tish@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161,161
162,cleoggordon@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,162,162
163,jacquilewis35@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163,163
164,billrausch33@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,164
165,raycheung18@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165,165
166,beedgy@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166,166
167,ishmaelsmit@aol.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167,167
168,joeysunio@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168,168
169,dschwahn@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,169,169
170,lisa.bellini@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170,170
171,lyauch@verizon.net,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171,171
172,tylerssqueeze@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,172,172
173,debsgoneshopping@icloud.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173,173
174,sit.chloe@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174,174
175,jordanblu@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,175,175
176,tojoflaherty@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,176
177,afried2693@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177,177
178,paxus.calta@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178,178
179,pavelmarcano@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179,179
180,jrbhorn66@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180,180
181,eileenlfield@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181,181
182,ddrichgirl@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182,182
183,c.scag74@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183,183

In [347]:
df_opens_sent_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,email_id
0,dhines122@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,lts246@nyu.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2,estebannyc@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
3,theyellowunicorn@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
4,amandamactas@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4

In [348]:
df10secure = df_opens_sent_complete.iloc[:, 9:]

In [349]:
df10secure.head()

,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,email_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4

In [350]:
df10secure.pop('Unnamed: 0')

0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10
11      11
12      12
13      13
14      14
15      15
16      16
17      17
18      18
19      19
20      20
21      21
22      22
23      23
24      24
25      25
26      26
27      27
28      28
29      29
      ...
154    154
155    155
156    156
157    157
158    158
159    159
160    160
161    161
162    162
163    163
164    164
165    165
166    166
167    167
168    168
169    169
170    170
171    171
172    172
173    173
174    174
175    175
176    176
177    177
178    178
179    179
180    180
181    181
182    182
183    183
Name: Unnamed: 0, Length: 184, dtype: int64

In [351]:
df10secure.head()

,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,email_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [352]:
df10secure.isnull().sum()

Member Rating.1          184
Opens                    184
Bounce Type              184
campaign_id              184
Total Recipients         184
Successful Deliveries    184
Soft Bounces             184
Hard Bounces             184
Total Bounces            184
email_id                   0
dtype: int64

In [353]:
df10secure['Opens'].fillna(0, inplace=True)

In [355]:
df10secure.to_csv("df10secure.csv")