In [1]:
import pandas as pd

## NOTE THAT NONE OF THESE INDIVIDUATED CAMPAIGN DATAFRAME FOLDERS ARE LIKELY TO WORK! All sensitive data has been stripped.  as per the readme, you can start from the completed campaign data and secured df csv's, or plug your own mailchimp data in here!

## Import CSV's as pandas Dataframes for each individual mailchimp metric in the reports

In [2]:
dfbounce =  pd.read_csv("members_Stickers_2019_Fundraiser_bounces_May_15_2019.csv")
dfclicks =  pd.read_csv("members_Stickers_2019_Fundraiser_click_activity_May_15_2019.csv")
dfnoopen = pd.read_csv("members_Stickers_2019_Fundraiser_not_opened_May_15_2019.csv")
dfopen = pd.read_csv("members_Stickers_2019_Fundraiser_opened_May_15_2019.csv")
dfsent = pd.read_csv("members_Stickers_2019_Fundraiser_sent_May_15_2019.csv")
dfunsubscribe = pd.read_csv("members_Stickers_2019_Fundraiser_unsub-reasons_May_15_2019.csv")

In [3]:
# Sum campaign data
df_campaign_sum = pd.read_csv("campaign_sum_data.csv")

In [4]:
df_campaign_sum

,Title,Subject,List,Send Date,Send Weekday,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,...,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id,Unique Id,Total Orders,Total Gross Sales,Total Revenue
0,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource,"Dec 12, 2018 07:45 am",Wednesday,937,783,28,126,154,...,0.13%,1,14,0,0,0,dfbbba4bf8,0,0,0
1,(copy 01),Register as a member before New Years to get y...,Lightsource,"Dec 21, 2018 07:45 am",Friday,1839,1784,39,16,55,...,0.22%,5,65,0,0,0,1e819b6ddd,0,0,0
2,Escape The Planet // Off To Space,FRIDAY NIGHT - Escape The Planet // OFF TO SPACE,Lightsource,"Feb 21, 2019 09:59 pm",Thursday,1760,1723,31,6,37,...,0.29%,6,31,0,0,0,84c4abc48c,0,0,0
3,Free Hugs,10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 11, 2019 07:30 am",Monday,1890,1700,46,144,190,...,0.12%,2,20,0,0,0,325eb1f748,0,0,0
4,Stickers 2019 fundraiser,LAST CHANCE get free pack of stickers before t...,Lightsource,"Mar 16, 2019 08:45 am",Saturday,1726,1652,33,41,74,...,0.54%,11,38,1,0,0,2cb6b6e6f5,0,0,0
5,Free Hugs (copy 01),10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 22, 2019 08:15 am",Friday,1648,1594,9,45,54,...,0.19%,3,10,0,0,0,bdfcb490de,0,0,0
6,Free Hugs (copy 02),This Saturday Annual Pillow Fight at Washingto...,Lightsource,"Apr 04, 2019 12:15 am",Thursday,1592,1582,4,6,10,...,0.25%,4,10,0,0,0,6db38d21e8,0,0,0
7,Love Parade and More | Combo 1,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,199,183,5,11,16,...,0.55%,1,1,0,0,0,652dbec20c,0,0,0
8,Love Parade and More | Combo 2,Disrupt with JOY! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,198,170,14,14,28,...,0.59%,1,2,0,0,0,47d54435c8,0,0,0
9,Love Parade and More,NaN,Lightsource,"May 05, 2019 07:30 am",Sunday,1809,1570,121,118,239,...,0.25%,0,11,0,0,0,a94ce6d5bc,0,0,0
10,Love Parade and More | Winner,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 11:29 am",Sunday,1412,1217,102,93,195,...,0.16%,2,8,0,0,0,c1a600e566,0,0,0
11,Love Parade Last Shoutout | Combo 2,DISRUPT WITH LOVE THIS SATURDAY! #FreeHugsNYC ...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,311,25,0,25,...,0.00%,0,2,0,0,0,a1aed6838d,0,0,0
12,Love Parade Last Shoutout | Combo 1,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,307,29,0,29,...,0.33%,2,4,0,0,0,f8f95de4ae,0,0,0
13,Love Parade Last Shoutout,NaN,Lightsource,"May 09, 2019 08:30 am",Thursday,1682,1558,124,0,124,...,0.32%,0,9,0,0,0,cbeb25b286,0,0,0
14,Love Parade Last Shoutout | Winner,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 05:29 pm",Thursday,1010,940,70,0,70,...,0.43%,5,3,0,0,0,b4c825516b,0,0,0

###### Select the row with our specific campaigns sum data

In [5]:
campaign_data = df_campaign_sum.iloc[4, 5:10].to_frame()

In [6]:
campaign_data = campaign_data.T.head()

In [7]:
campaign_data.reset_index(inplace=True)

In [8]:
campaign_data['campaign_id'] = campaign_data['index']

In [9]:
campaign_data = campaign_data.iloc[:, 1:]

In [10]:
campaign_data

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,campaign_id
0,1726,1652,33,41,74,4

In [11]:
dfbounce.shape

(71, 11)

In [12]:
dfclicks.shape

(8, 12)

In [13]:
dfnoopen.shape

(1301, 10)

In [14]:
dfopen.shape

(229, 11)

In [15]:
dfsent.shape

(1530, 10)

In [16]:
dfunsubscribe.shape

(20, 12)

# How to anonymize sensitive data in a mailchimp report, using a pandas dataframe

## Generate a blank list, where you can use the extend method with the tolist method to feed list versions of these email addresses from all the metrics in these dataframe.

In [17]:
full_email_list = [] #Thanks for help with this Thomas Ludlow!

In [18]:
full_email_list.extend(dfbounce['Email Address'].tolist())

In [19]:
full_email_list.extend(dfclicks['Email Address'].tolist())

In [20]:
full_email_list.extend(dfnoopen['Email Address'].tolist())

In [21]:
full_email_list.extend((dfopen['Email Address'].tolist()))

In [22]:
full_email_list.extend(dfsent['Email Address'].tolist())

In [23]:
full_email_list.extend(dfunsubscribe['Email Address'].tolist())

In [24]:
len(full_email_list)

3159

In [25]:
len(set(full_email_list))

1601

### Save as a set, to remove duplicates.  Now you have a concise set of emails

In [26]:
the_email_list4 = set(full_email_list)

In [27]:
the_email_list4 = pd.DataFrame(the_email_list4)

In [28]:
the_email_list4.head()

                            0
0     universalhobo@gmail.com
1         jcqjacques1@aol.com
2      inesvazpinto@gmail.com
3        butterbear33@aol.com
4  benjamin.mortimer@citi.com

In [29]:
the_email_list4["Email Address"] = the_email_list4[0]

In [30]:
the_email_list4.pop(0).head()

0       universalhobo@gmail.com
1           jcqjacques1@aol.com
2        inesvazpinto@gmail.com
3          butterbear33@aol.com
4    benjamin.mortimer@citi.com
Name: 0, dtype: object

In [31]:
the_email_list4.shape

(1601, 1)

In [32]:
the_email_list4.to_csv("email_list4.csv")

### Use a numpy random shuffling method such as below, to randomly shuffle your emails.

In [33]:
import numpy as np

In [34]:
shuffled_email_list = the_email_list4.reindex(np.random.permutation(the_email_list4.index))

In [35]:
shuffled_email_list.head()

                 Email Address
545    infinitereiko@gmail.com
926      sethofnight@gmail.com
1129  redliterocket4@gmail.com
1291      rosen12498@gmail.com
598          cery101@yahoo.com

### Reset your index, so this new shuffled list now has an entirely new one.  Then delete the old 'index' column that contains your original index.

In [36]:
shuffled_email_list.reset_index(inplace = True)

In [37]:
shuffled_email_list.drop(columns=['index'],inplace = True)
shuffled_email_list.head()

              Email Address
0   infinitereiko@gmail.com
1     sethofnight@gmail.com
2  redliterocket4@gmail.com
3      rosen12498@gmail.com
4         cery101@yahoo.com

In [38]:
shuffled_email_list.head()

              Email Address
0   infinitereiko@gmail.com
1     sethofnight@gmail.com
2  redliterocket4@gmail.com
3      rosen12498@gmail.com
4         cery101@yahoo.com

### Set this new index as email_index - you will use this instead of sensitive data to anonymize your audience, once you pd.merge all lists to this index.

In [39]:
# Or do this process to the full list.

In [40]:
shuffled_email_list['email_id'] = shuffled_email_list.index

In [41]:
shuffled_email_list.head()

              Email Address  email_id
0   infinitereiko@gmail.com         0
1     sethofnight@gmail.com         1
2  redliterocket4@gmail.com         2
3      rosen12498@gmail.com         3
4         cery101@yahoo.com         4

#### Save this outside of your repo or other publicly accessible directory.  This should be stored separately from any public git repos or anywhere else publicly accessible, and be used for your purposes only, to link this information back to your audience.

In [42]:
shuffled_email_list.to_csv("./../../sensitive_info/email_secret_keys.csv")

### Opens and no opens are a simple merger, where you impute the correct value to your no opens dataframe, 0, below.  They are then structured pretty much identically.

In [43]:
dfnoopen['Opens'] = 0

In [44]:
dfnoopen

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,farmingfox@gmail.com,Justin,Torrico,US,NaN,NaN,NaN,4TWYY2NT6H4Z4GP3067QF9JX5G,2.0,2,0
1,a_drew272@yahoo.com,a_drew,NaN,US,NaN,NaN,Solomons Contacts,4TZXXFAPG149GXBD5TJQNAYXCC,2.0,2,0
2,justinyoung@thevitalfarm.com,Justin,Young,US,NaN,NaN,NaN,ZA6HAC3WV92RENP2NF1PYTP8N0,2.0,2,0
3,haynes.ps@gmail.com,Peter,Haynes,US,NaN,NaN,Solomons Contacts,3BCFBP0K6D3DCTJM1BASRRNYV8,2.0,2,0
4,adopang@yahoo.com,Adrian,NaN,US,NaN,NaN,Solomons Contacts,59220KPPFN55JQS1QPTKCA6BNM,2.0,2,0
5,edadeniz@aol.com,Deniz,NaN,US,NaN,NaN,Solomons Contacts,RXDGFP7AM12Q8K05NRYX4STB2G,2.0,2,0
6,soawesome79@aol.com,Peter,McLeen,US,NaN,NaN,Solomons Contacts,QDY451ZHFD44RKFEH7V49254R0,2.0,2,0
7,Defneinhan@gmail.com,Dephne,Inhan,US,NaN,NaN,NaN,0X4RWNQDE1336KMFAKJ21EFEN4,2.0,2,0
8,kslatts26@yahoo.com,K,NaN,US,NaN,NaN,Solomons Contacts,ZV0KE6G8B10MYG2VSCX5PZTZB0,2.0,2,0
9,adrianne.kuss@gmail.com,Adrianne,Kuss,US,NaN,NaN,Solomons Contacts,HPVA3K45N974CHBKYY1JRSPAHW,2.0,2,0
10,phanphoenix@gmail.com,phantomphoenix,gf,US,NaN,NaN,Solomons Contacts,BMRE30MJND2HRY4AR5AQ36VER0,2.0,2,0
11,kaiha.bertollini@gmail.com,Kaiha,Bertollini,US,NaN,NaN,NaN,C957MV0MED7PAJ3HF2GA53DGYG,2.0,2,0
12,pheralescapes@gmail.com,Pheral,Lamb,US,NaN,NaN,NaN,GEH3QSY1650DWH4EQTDPRBBYFC,2.0,3,0
13,cyrus0520@gmail.com,Phil,Elders,US,NaN,NaN,NaN,KRZGDESWSX03RNWZBR3W01C638,2.0,2,0
14,Kalin.rodgers@gmail.com,Kalin,Rodgers,US,NaN,NaN,NaN,H311DHYKN90J0JKQ5DYZ6Z09FW,2.0,2,0
15,queenielulubeanie@gmail.com,Desiree Lulukramer,Perkins,US,NaN,NaN,NaN,W9X5R8C5RH2QYG60TR9WBNAS4M,2.0,2,0
16,philipherring86@yahoo.com,Phil,NaN,US,NaN,NaN,Solomons Contacts,NBS4PZ72754T6S00CHWT2HPBNM,2.0,2,0
17,desmond.eaddy@gmail.com,Desmond,NaN,US,NaN,NaN,Solomons Contacts,5H56D8JDZ97ZEZQN2PZZK3SWAC,2.0,3,0
18,kds8508@gmail.com,kapeel,NaN,US,NaN,NaN,Solomons Contacts,FCDYSMX97S6N4N7TF6PEGH4A98,2.0,2,0
19,ambiguouscat@yahoo.com,Philip,Shlain,US,NaN,NaN,Solomons Contacts,HV5NDH8RK168CG5SGA0W8BP4RW,2.0,2,0
20,psteinberg920@aol.com,Philip,Steinberg,US,NaN,NaN,Solomons Contacts,FN6F5VJ0YH5Z8WRD28BJ7AEHR0,2.0,2,0
21,devikakumar20@gmail.com,devika,NaN,US,NaN,NaN,Solomons Contacts,T3MFCY7DD146TG3176MXEA2WS0,2.0,2,0
22,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4,0
23,karen.e.moy@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,7VTTW5RZF51Y6MY1GEYNB0X37W,2.0,2,0
24,karenlampiasi@aol.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,TQZ14MYW4N64EV0QYNABZCHQDR,2.0,2,0
25,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3,0
26,dummyboy91@gmail.com,ahmed,abbas,US,NaN,NaN,Solomons Contacts,4KE0QWWT9N5JPXTPWA037KTDQC,2.0,2,0
27,kefredrickson@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,6K47MPP85N7RAH99F4QR9E9P48,2.0,3,0
28,psomoray@gmail.com,Pierre,NaN,US,NaN,NaN,Solomons Contacts,AWCAK2MX31094WWKF0ZMTWPWZG,2.0,2,0
29,karin.luu@gmail.com,Karin,NaN,US,NaN,NaN,Solomons Contacts,17CG46SVD55XTJX9X4WXXD444G,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
1271,zhim.lin@gmail.com,Zhi,NaN,US,NaN,NaN,Solomons Contacts,NDYTG9H2CD35AVHT2EFB78161W,2.0,2,0
1272,pepevivero@yahoo.com,José,NaN,US,NaN,NaN,Solomons Contacts,TQV5T2M8257SENFQCVHNFJ4Z0G,2.0,2,0
1273,tamarhaviv@hotmail.com,zoey,NaN,US,NaN,NaN,Solomons Contacts,WA4AK65J2X2YAGP7XAQF4M1S70,2.0,3,0
1274,josephvdoria@gmail.com,Joseph,Doria,US,NaN,NaN,Solomons Contacts,H3B4KA84MH7GJX5YY4RSZ6PCTG,2.0,2,0
1275,zqzhu@yahoo.com,zqzhu,NaN,US,NaN,NaN,Solomons Contacts,BE4DTWMFFX73TYAZK9WSG8DPN8,2.0,2,0
1276,joewoodfield@gmail.com,Joseph,NaN,US,NaN,NaN,Solomons Contacts,ZY9WE82T7N0TGPW814A2M25ZNM,2.0,3,0
1277,zrodz7@aol.com,zrodz7,NaN,US,NaN,NaN,Solomons Contacts,D1JNJ28B151HERASWFTMK14F00,2.0,2,0
1278,josephmarengo@yahoo.com,Joseph,Marengo,US,NaN,NaN,Solomons Contacts,QZY87CXVA94BMSK2V8H43AJ8RM,2.0,2,0
1279,zuly1350@hotmail.com,Zuleika,Melendez,US,NaN,NaN,Solomons Contacts,CBZTYJ921X3VAH19QZ28QCNM84,2.0,2,0
1280,zamrada@chello.at,zummurud,NaN,US,NaN,NaN,NaN,0MRGE6CT7S0EGHE92T3NWZWV6G,2.0,2,0
1281,balancenyc45@yahoo.com,Josh,NaN,US,NaN,NaN,Solomons Contacts,RATM6D4FGH6HGTRRBF0HSA2798,2.0,1,0
1282,Joshua.m.cook@gmail.com,Josh,Cook,US,NaN,NaN,NaN,359G90YCQX3CEHQ8DS4BVNCAXG,2.0,2,0
1283,wheaton_2003_20@yahoo.com,josh,wheaton,US,NaN,NaN,Solomons Contacts,W978MYAAA1058P7KWV8FM2TDAG,2.0,2,0
1284,postmaster@spiritualnetworks.com,Spiritual,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1285,fajrkegler@gmail.com,Fajr,Kegler,NJ US,NaN,NaN,NaN,NaN,2.0,3,0
1286,Victorialuanne@icloud.com,Victoria,Luanne,US,NaN,NaN,NaN,NaN,NaN,2,0
1287,Aviikumar9@gmail.com,Avi,Kumar,308 West 18th Street New York 10011 US,NaN,NaN,NaN,NaN,NaN,2,0
1288,Erek@paxsolaria.net,Erek,Tinker,10 Hillside Ave 2L New York NY 10040 US,NaN,NaN,NaN,NaN,NaN,2,0
1289,jaysaltik@gmail.com,Jay,Saltik,US,NaN,NaN,NaN,NaN,NaN,2,0
1290,johanie87@yahoo.com,Johanie,Olivero,US,NaN,NaN,NaN,NaN,NaN,2,0
1291,jonathan.connors@gmail.com,Jon,Connor,4116 Mountain View Ave Oakland CA 94605 US,NaN,NaN,NaN,NaN,NaN,2,0
1292,kwl311@gmail.com,kathy,liu,11221 US,NaN,NaN,NaN,NaN,NaN,2,0
1293,mariatsaguriya@gmail.com,Maria,Tsaguriya,699 Willoughby Avenue 3E Brooklyn NY 11206...,NaN,NaN,NaN,NaN,NaN,2,0
1294,msofka0934@gmail.com,Marissa,Sofka,Poughkeepsie US,NaN,NaN,NaN,NaN,NaN,2,0
1295,justpatnyc@gmail.com,Patrick,McCan,74 homer street Binghamton NY 13903 US,NaN,NaN,NaN,NaN,NaN,3,0
1296,synthetic.soul@gmail.com,Stella,Stargazer,952 Aldus st 1D Bronx NY 10459 US,NaN,NaN,NaN,NaN,NaN,2,0
1297,Tesillasipher1@gmail.com,Tesfa,Ferris,1030 LongFellow Ave Bronx NY 10459 US,NaN,NaN,NaN,NaN,NaN,3,0
1298,yrkarma@gmail.com,Yasmine,Karma,582 Park Ave 5 Albany NY 12208 US,NaN,NaN,NaN,NaN,NaN,2,0
1299,mookiepookie1986@gmail.com,Zack,Peace,P.o box 834 Pocasset MA 02559 US,NaN,NaN,NaN,NaN,NaN,2,0
1300,zaviaeva@gmail.com,Zoya,Aviaeva,Brooklyn US,NaN,NaN,NaN,NaN,NaN,3,0

In [45]:
df_opens = dfopen.merge(dfnoopen, how = "outer")

In [46]:
df_opens.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1
1,dhafer10@gmail.com,Derek,NaN,US,NaN,NaN,Solomons Contacts,CC0R20JME13TYYT0A4CS7FPEZC,2.0,2,1
2,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2,1
3,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,2
4,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1

In [47]:
df_opens.shape

(1530, 11)

In [48]:
df_opens_sent = df_opens.merge(dfsent, how = "outer")

In [49]:
df_opens_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1
1,dhafer10@gmail.com,Derek,NaN,US,NaN,NaN,Solomons Contacts,CC0R20JME13TYYT0A4CS7FPEZC,2.0,2,1
2,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2,1
3,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,2
4,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1

#### the bounce and dataframe set are similar.  Just set the "Bounce type" in sent to "Sent" before merging.

In [50]:
dfbounce.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,pgpeterp@yahoo.com,Peter,Pantera,US,NaN,NaN,Solomons Contacts,WWGH1KMRF9544PVBT1X1FWZZTW,2.0,1,hard
1,agathe.planchon@gustto.com,Agathe,NaN,US,NaN,NaN,Solomons Contacts,H7RW6V1HN51XCW5ZJWE26HTTGC,NaN,1,soft
2,pennslandingdogblue@yahoo.com,Phyllis,Brown,US,NaN,NaN,Solomons Contacts,51SAAV14EN770M4BX5CESR5YS8,2.0,1,hard
3,katewoodhouse2@yahoo.co.uk,Kate,Woodhouse,US,NaN,NaN,Solomons Contacts,Y4R1B1N4MS2H2Q1P3HDGE2N498,2.0,1,hard
4,tdoyle@middlebury.edu,Doyle,NaN,US,NaN,NaN,Solomons Contacts,2V23WJQFDX6WAPNYFYVQBW0VZR,NaN,1,soft

In [51]:
dfsent['Bounce Type'] = "sent"

In [52]:
dfsent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,farmingfox@gmail.com,Justin,Torrico,US,NaN,NaN,NaN,4TWYY2NT6H4Z4GP3067QF9JX5G,2.0,2,sent
1,a_drew272@yahoo.com,a_drew,NaN,US,NaN,NaN,Solomons Contacts,4TZXXFAPG149GXBD5TJQNAYXCC,2.0,2,sent
2,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,sent
3,justinyoung@thevitalfarm.com,Justin,Young,US,NaN,NaN,NaN,ZA6HAC3WV92RENP2NF1PYTP8N0,2.0,2,sent
4,haynes.ps@gmail.com,Peter,Haynes,US,NaN,NaN,Solomons Contacts,3BCFBP0K6D3DCTJM1BASRRNYV8,2.0,2,sent

In [53]:
df_bounce_or_sent = dfbounce.merge(dfsent, how='outer')

In [54]:
df_bounce_or_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,pgpeterp@yahoo.com,Peter,Pantera,US,NaN,NaN,Solomons Contacts,WWGH1KMRF9544PVBT1X1FWZZTW,2.0,1,hard
1,agathe.planchon@gustto.com,Agathe,NaN,US,NaN,NaN,Solomons Contacts,H7RW6V1HN51XCW5ZJWE26HTTGC,NaN,1,soft
2,pennslandingdogblue@yahoo.com,Phyllis,Brown,US,NaN,NaN,Solomons Contacts,51SAAV14EN770M4BX5CESR5YS8,2.0,1,hard
3,katewoodhouse2@yahoo.co.uk,Kate,Woodhouse,US,NaN,NaN,Solomons Contacts,Y4R1B1N4MS2H2Q1P3HDGE2N498,2.0,1,hard
4,tdoyle@middlebury.edu,Doyle,NaN,US,NaN,NaN,Solomons Contacts,2V23WJQFDX6WAPNYFYVQBW0VZR,NaN,1,soft

In [55]:
#Our figure here, 1010, shows us we have a complete dataframe
df_bounce_or_sent.shape

(1601, 11)

#### This is the resultant dataframe we want, for each campaign.

In [56]:
df_opens_sents = df_opens_sent.merge(df_bounce_or_sent, how='outer')

In [57]:
df_opens_sents

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1.0,sent
1,dhafer10@gmail.com,Derek,NaN,US,NaN,NaN,Solomons Contacts,CC0R20JME13TYYT0A4CS7FPEZC,2.0,2,1.0,sent
2,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2,1.0,sent
3,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,2.0,sent
4,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1.0,sent
5,vitaalberta@gmail.com,Alberta,NaN,US,NaN,NaN,Solomons Contacts,TZ1CYQQ5D128GYM1S3KHY56SS0,2.0,2,1.0,sent
6,kathleenmandeville@gmail.com,Kathleen,Mandeville,US,NaN,NaN,NaN,Z58YESHN550TTKNS701PWDNYS0,2.0,3,1.0,sent
7,aleyudico@gmail.com,Alejandro,NaN,US,NaN,NaN,Solomons Contacts,Z7QFNN4GNX742PP5XN6RNYH9MM,2.0,4,1.0,sent
8,crymsun.moon@gmail.com,DNA,Ciccarone,US,NaN,NaN,NaN,FX8J31YWFN4D6YPR3GJNPC1KGM,2.0,2,1.0,sent
9,drmayhem@earthlink.net,drmayhem,NaN,US,NaN,NaN,Solomons Contacts,ZA3A16PFBX72EXJQ5WQ4AEP5T4,2.0,3,1.0,sent
10,kellywolak@gmail.com,Kelly,NaN,US,NaN,NaN,Solomons Contacts,RVVP5R7CH176TMRM7WQCRSYS6R,2.0,2,1.0,sent
11,kelsey.m.weimer@gmail.com,Kelsey,Weimer,US,NaN,NaN,NaN,BTFYAE06595EWVJ0ZFZXNC6G1G,2.0,2,1.0,sent
12,eduardoestrelladr@gmail.com,Eduardo,NaN,US,NaN,NaN,Solomons Contacts,TR5KDGP9Z931WHZV7JW4MNEKAW,2.0,4,2.0,sent
13,kenneth@2afrikamail.com,Kenneth,NaN,US,NaN,NaN,Solomons Contacts,FBBXCK31PX3JWJCMSD7BDRQHC4,2.0,2,1.0,sent
14,keri@healingrootsdesign.com,Keri,Evjy,US,NaN,NaN,NaN,8HT7VNTXF948RY9VZ0VJQ40GR0,2.0,4,1.0,sent
15,randyb@bigfilmdesign.com,Randy,NaN,US,NaN,NaN,Solomons Contacts,AM9ADWR75X098Z8E61TAMNSHQW,2.0,2,1.0,sent
16,raoul958@gmail.com,raoul,NaN,US,NaN,NaN,Solomons Contacts,6EBJXGK4191XCMNHJPWC04SY50,2.0,2,1.0,sent
17,aheim812@gmail.com,Alison,NaN,US,NaN,NaN,Solomons Contacts,VEZANA0JQS1QPZA1TGFY7GNQJC,2.0,4,1.0,sent
18,medrcortes@yahoo.com,raul,NaN,US,NaN,NaN,Solomons Contacts,S6M09KXYVX6F0ZZFCVP88XN22W,2.0,2,2.0,sent
19,kim.luken@gmail.com,Kim,NaN,US,NaN,NaN,Solomons Contacts,56MNNFN7N13XEY3A4VNA8XDSFW,2.0,2,1.0,sent
20,allison.ahearn@gmail.com,Allison,NaN,US,NaN,NaN,Solomons Contacts,8V2DFD1W7X3C8H33QZ5KR5AP5W,2.0,3,1.0,sent
21,rkisch8@gmail.com,Rebecca,Kisch,US,NaN,NaN,NaN,XPDZ3ZSQBH77WX34ZEE68CW1SW,2.0,3,1.0,sent
22,lizzcdelaney@gmail.com,Elizabeth,Delaney,US,NaN,NaN,NaN,XGQ781W3C15P2SBFS2CCZ2KPP8,2.0,2,1.0,sent
23,rebecca.winkelstein@gmail.com,Rebecca,NaN,US,NaN,NaN,Solomons Contacts,0FP7Y7F9V13A2SV39NDN84TWWW,2.0,2,1.0,sent
24,mydiskette777@gmail.com,Reynoso,NaN,US,NaN,NaN,Solomons Contacts,3T7HGHX8JN7FTSY2S1M4K35338,2.0,2,1.0,sent
25,amandamactas@gmail.com,Amanda,NaN,US,NaN,NaN,Solomons Contacts,ZBDP6FG81S6ZMW58J01DMT6XAM,2.0,2,1.0,sent
26,kshah1378@gmail.com,Kulin,NaN,US,NaN,NaN,Solomons Contacts,8EW3HHX33D3QPQZGS5EMQDHEJM,2.0,3,1.0,sent
27,emmacallander@googlemail.com,Emma,Callander,US,NaN,NaN,NaN,ASG13YHZYX788MG1VRHKJ8NKRR,2.0,2,1.0,sent
28,rshargel@gmail.com,Rima,NaN,US,NaN,NaN,Solomons Contacts,F0TAFSKQHN3J4WKG8WD77NEDY8,2.0,2,1.0,sent
29,amberbeth.webb@gmail.com,Amber,NaN,US,NaN,NaN,Solomons Contacts,N0CB2Z9MRS1BGNK9N8TG866W80,2.0,2,1.0,sent
...,...,...,...,...,...,...,...,...,...,...,...,...
1571,gsroper@gstevenroper.com,Steven,Roper,US,NaN,NaN,Solomons Contacts,ZQVWEXTR9D5JEVDDDBCJSQJKAM,NaN,1,NaN,soft
1572,superman4ever11@yahoo.com,superman4ever,NaN,US,NaN,NaN,Solomons Contacts,ESW0GQCH616DCV99P9QAMAKCY4,2.0,1,NaN,hard
1573,revbastarrica@gmail.com,Susana,Bastarrica,US,NaN,NaN,Solomons Contacts,B0YW8A9EH53NYP95Q7ES0M35KW,NaN,1,NaN,soft
1574,ismaelcorrea47@yahoo.com,ismael,correa,US,NaN,NaN,Solomons Contacts,0G4GMW81JN1ZTNRR71JYFKEQ34,2.0,1,NaN,hard
1575,lucid_nightmare1992@yahoo.com,Jack,DC,US,NaN,NaN,NaN,J9B3HSE2M92WEPR6AY2P3PTFQ4,2.0,1,NaN,hard
1576,jack.massey@me.com,Jack,NaN,US,NaN,NaN,Solomons Contacts,TCQ1B0QBW919WKCGBZ12T0TTYM,2.0,1,NaN,soft
1577,meredith@thehealingartsstudio.com,Meredith,Cavanagh,US,NaN,NaN,NaN,NKP1SWT9SX6JCTJ1Z2C9DRK468,NaN,1,NaN,soft
1578,jamesmetz@inbox.com,James,Sandoz,US,NaN,NaN,Solomons Contacts,3KN6W54KKN0ZRRCMJ2YM760GBM,NaN,1,NaN,soft
1579,carlos@carlosmiller.net,Carlos,Miller,US,NaN,NaN,Solomons Contacts,7D66QPKENS3N8H3GWZE41THHR4,NaN,1,NaN,soft
1580,michael@flowidealism.org,Michael,Strong,US,NaN,NaN,Solomons Contacts,BVFZ1Z4CTX4NARPYRS7XDJJ2F8,NaN,1,NaN,soft
1581,chessboy_nyc@yahoo.com,tim,winder,US,NaN,NaN,Solomons Contacts,RHEG97YVYH5NGMWCR1EN8JJ9X4,NaN,1,NaN,hard
1582,artist_tish@yahoo.com,Tish,NaN,US,NaN,NaN,NaN,26VH5BN1F56W0GE8NRTPBXDXXM,2.0,1,NaN,hard
1583,jaygittens@ymail.com,Jay,Gittens,US,NaN,NaN,Solomons Contacts,7GDQC7M7WS5AYQWPPWC898Q6JR,2.0,1,NaN,hard
1584,miranda@bestofhumanity.is,Miranda,Clendening,US,NaN,NaN,NaN,MD0JQJN68H33YSZBWB12ADM12W,NaN,1,NaN,soft
1585,chickpea313@yahoo.com,Chick,Pea,US,NaN,NaN,NaN,D3J30TJPNH6K4YA10DCC37PGRG,2.0,1,NaN,hard
1586,talkingtj@yahoo.com,troy,reyes,US,NaN,NaN,Solomons Contacts,YDYMKEFJ9D7AWQ32N0TYB1JQGW,2.0,1,NaN,hard
1587,mookiepanthers@yahoo.com,Mookie,NaN,US,NaN,NaN,Solomons Contacts,MQJ7RJ8MBH3RYPD01Q457MVXM8,2.0,1,NaN,hard
1588,mounteerie915@yahoo.com,mounteerie,NaN,US,NaN,NaN,Solomons Contacts,MDKQ8CZ5KN11EKCGXB689EFMXR,2.0,2,NaN,hard
1589,theprez@unlok4prez.com,Unlok,NaN,US,NaN,NaN,NaN,3GKYQXZGA11ETWD25TC66E5BQG,NaN,1,NaN,soft
1590,ndnlpass@yahoo.com,Nadabiel,Pass,US,NaN,NaN,Solomons Contacts,TJSS5JCDV934EKBRPECB048KQ4,2.0,2,NaN,hard
1591,neil_rodney@nhsnyc.org,Neil,NaN,US,NaN,NaN,Solomons Contacts,YXER7V8HBX786PF3WBX6DNSJ2W,NaN,1,NaN,soft
1592,nickruiz25@yahoo.com,Nicholas,NaN,US,NaN,NaN,Solomons Contacts,NZ2JD4MVNS0VWZH8Y3TCTKA468,2.0,1,NaN,hard
1593,viola.glink@yahoo.com,Viola,NaN,US,NaN,NaN,Solomons Contacts,0F5PQR6HSN3TGYAQZBAC7Q2HGC,2.0,1,NaN,hard
1594,heartlessreyven@yahoo.com,Wanda,Reyes,US,NaN,NaN,Solomons Contacts,NKH3G3NMSD3WAVJT9M0DJ74F58,2.0,1,NaN,hard
1595,joaquinmcastro@yahoo.com,Joaquin,Castro,US,NaN,NaN,Solomons Contacts,J7MAEAXXDD0CTMNKPYRNRZFT38,2.0,1,NaN,hard
1596,joeysmtx@me.com,joey,NaN,US,NaN,NaN,Solomons Contacts,JTSQSVGXA128YKN921Z2JW0WC4,NaN,1,NaN,soft
1597,oleg@usethewand.com,oleg,NaN,US,NaN,NaN,Solomons Contacts,0R3QAA05MH68RM6WZ625AWVDHW,NaN,1,NaN,soft
1598,myles.worthington@ketchum.com,Worthington,NaN,US,NaN,NaN,Solomons Contacts,8PYCT3GGVD4VGNM579EVC3FXA8,2.0,1,NaN,soft
1599,naturalbless45@yahoo.com,John,NaN,US,NaN,NaN,Solomons Contacts,DMFH983G0113AT7DEGPQQWCS8C,2.0,1,NaN,hard
1600,jonah@riverfish.us,Jonah,NaN,US,NaN,NaN,NaN,GMGB041WNH6T6HKEXZAK7CY9E4,NaN,1,NaN,soft

In [58]:
df_opens_sents.shape

(1601, 12)

In [59]:
df_opens_sents.isnull().sum()

Email Address            0
First Name               0
Last Name              843
Address                  0
Phone Number          1601
Birthday              1601
Reference ID           504
Square Customer ID      20
Member Rating           94
Member Rating.1          0
Opens                   71
Bounce Type              0
dtype: int64

#### Unsubscribes, along with clicks, are more concerned with the content of the email.  So we will also set these aside for now.

In [60]:
dfunsubscribe['unsubscibe reason'] = dfunsubscribe['reason']

In [61]:
dfunsubscribe['unsubscribe description'] = dfunsubscribe['description']

In [62]:
dfunsubscribe.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,reason,description,unsubscibe reason,unsubscribe description
0,stayhaid@me.com,stacey,NaN,US,NaN,NaN,Solomons Contacts,3DVT1HQ4116TGY36ER7PFGK0D0,NaN,3,NORMAL,NaN,NORMAL,NaN
1,Mattdelgado50@gmail.com,Matt,NaN,US,NaN,NaN,NaN,YN50ECY2MD3G0RVJ05PJ754VNC,NaN,3,NaN,NaN,NaN,NaN
2,haschipman@gmail.com,Hunter,Schipman,US,NaN,NaN,NaN,MSZG73RT0X2MCN935F6D8Z2GW0,NaN,3,NOSIGNUP,NaN,NOSIGNUP,NaN
3,bhaffey@gmail.com,bryn,NaN,US,NaN,NaN,Solomons Contacts,8YG8KGXAD92WEZ7TVBHD0Y4YP0,NaN,3,NaN,NaN,NaN,NaN
4,tarabcrawley@icloud.com,Tara,NaN,US,NaN,NaN,Solomons Contacts,45FADQ12YD518WP8S7VZ4ZMMK0,NaN,4,NOSIGNUP,NaN,NOSIGNUP,NaN

#### Assign campaign ID

In [63]:
df_opens_sents['campaign_id'] = 4

In [64]:
df_opens_sents_complete = df_opens_sents.merge(campaign_data, how='right')

In [65]:
df_opens_sents_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1.0,sent,4,1726,1652,33,41,74
1,dhafer10@gmail.com,Derek,NaN,US,NaN,NaN,Solomons Contacts,CC0R20JME13TYYT0A4CS7FPEZC,2.0,2,1.0,sent,4,1726,1652,33,41,74
2,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2,1.0,sent,4,1726,1652,33,41,74
3,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,2.0,sent,4,1726,1652,33,41,74
4,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1.0,sent,4,1726,1652,33,41,74

####  Assign email ID, using the secret key generated with all emails, from Dataframe_Cleaning123456

In [66]:
secret_key = pd.read_csv("./../../sensitive_info/email_secret_keys123456.csv")

In [67]:
df_opens_sents_completed = df_opens_sents_complete.merge(secret_key, how = 'right')

In [68]:
df_opens_sents_completed.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,email_id
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4.0,1.0,sent,4.0,1726,1652,33,41,74,1579,1579
1,dhafer10@gmail.com,Derek,NaN,US,NaN,NaN,Solomons Contacts,CC0R20JME13TYYT0A4CS7FPEZC,2.0,2.0,1.0,sent,4.0,1726,1652,33,41,74,1492,1492
2,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2.0,1.0,sent,4.0,1726,1652,33,41,74,365,365
3,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2.0,2.0,sent,4.0,1726,1652,33,41,74,32,32
4,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3.0,1.0,sent,4.0,1726,1652,33,41,74,1203,1203

#### Remove identifying info

In [69]:
#The first member rating's are an input error on my part that needs to be cleaned.
df4secure = df_opens_sents_completed.iloc[:, 9:]

In [70]:
df4secure.isnull().sum()

Member Rating.1           94
Opens                    165
Bounce Type               94
campaign_id               94
Total Recipients          94
Successful Deliveries     94
Soft Bounces              94
Hard Bounces              94
Total Bounces             94
Unnamed: 0                 0
email_id                   0
dtype: int64

#### fill remaining nulls for Opens with 0

In [71]:
df4secure['Opens'].fillna(0, inplace=True)

In [72]:
df4secure.isnull().sum()

Member Rating.1          94
Opens                     0
Bounce Type              94
campaign_id              94
Total Recipients         94
Successful Deliveries    94
Soft Bounces             94
Hard Bounces             94
Total Bounces            94
Unnamed: 0                0
email_id                  0
dtype: int64

In [76]:
df4secure.pop('Unnamed: 0')

KeyError: 'Unnamed: 0'

In [78]:
df4secure.head()

,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,email_id
0,4.0,1.0,sent,4.0,1726,1652,33,41,74,1579
1,2.0,1.0,sent,4.0,1726,1652,33,41,74,1492
2,2.0,1.0,sent,4.0,1726,1652,33,41,74,365
3,2.0,2.0,sent,4.0,1726,1652,33,41,74,32
4,3.0,1.0,sent,4.0,1726,1652,33,41,74,1203

In [79]:
df4secure.to_csv("df4secure.csv")