In [1]:
import pandas as pd

## NOTE THAT NONE OF THESE INDIVIDUATED CAMPAIGN DATAFRAME FOLDERS ARE LIKELY TO WORK! All sensitive data has been stripped.  as per the readme, you can start from the completed campaign data and secured df csv's, or plug your own mailchimp data in here!

## Import CSV's as pandas Dataframes for each individual mailchimp metric in the reports

In [2]:
dfbounce =  pd.read_csv("members_Free_Hugs_Copy_02__bounces_May_15_2019.csv")
dfclicks =  pd.read_csv("members_Free_Hugs_Copy_02__click_activity_May_15_2019.csv")
dfnoopen = pd.read_csv("members_Free_Hugs_Copy_02__not_opened_May_15_2019.csv")
dfopen = pd.read_csv("members_Free_Hugs_Copy_02__opened_May_15_2019.csv")
dfsent = pd.read_csv("members_Free_Hugs_Copy_02__sent_May_15_2019.csv")
dfunsubscribe = pd.read_csv("members_Free_Hugs_Copy_02__unsub-reasons_May_15_2019.csv")

In [3]:
# Sum campaign data
df_campaign_sum = pd.read_csv("campaign_sum_data.csv")

In [4]:
df_campaign_sum

,Title,Subject,List,Send Date,Send Weekday,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,...,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id,Unique Id,Total Orders,Total Gross Sales,Total Revenue
0,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource,"Dec 12, 2018 07:45 am",Wednesday,937,783,28,126,154,...,0.13%,1,14,0,0,0,dfbbba4bf8,0,0,0
1,(copy 01),Register as a member before New Years to get y...,Lightsource,"Dec 21, 2018 07:45 am",Friday,1839,1784,39,16,55,...,0.22%,5,65,0,0,0,1e819b6ddd,0,0,0
2,Escape The Planet // Off To Space,FRIDAY NIGHT - Escape The Planet // OFF TO SPACE,Lightsource,"Feb 21, 2019 09:59 pm",Thursday,1760,1723,31,6,37,...,0.29%,6,31,0,0,0,84c4abc48c,0,0,0
3,Free Hugs,10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 11, 2019 07:30 am",Monday,1890,1700,46,144,190,...,0.12%,2,20,0,0,0,325eb1f748,0,0,0
4,Stickers 2019 fundraiser,LAST CHANCE get free pack of stickers before t...,Lightsource,"Mar 16, 2019 08:45 am",Saturday,1726,1652,33,41,74,...,0.54%,11,38,1,0,0,2cb6b6e6f5,0,0,0
5,Free Hugs (copy 01),10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 22, 2019 08:15 am",Friday,1648,1594,9,45,54,...,0.19%,3,10,0,0,0,bdfcb490de,0,0,0
6,Free Hugs (copy 02),This Saturday Annual Pillow Fight at Washingto...,Lightsource,"Apr 04, 2019 12:15 am",Thursday,1592,1582,4,6,10,...,0.25%,4,10,0,0,0,6db38d21e8,0,0,0
7,Love Parade and More | Combo 1,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,199,183,5,11,16,...,0.55%,1,1,0,0,0,652dbec20c,0,0,0
8,Love Parade and More | Combo 2,Disrupt with JOY! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,198,170,14,14,28,...,0.59%,1,2,0,0,0,47d54435c8,0,0,0
9,Love Parade and More,NaN,Lightsource,"May 05, 2019 07:30 am",Sunday,1809,1570,121,118,239,...,0.25%,0,11,0,0,0,a94ce6d5bc,0,0,0
10,Love Parade and More | Winner,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 11:29 am",Sunday,1412,1217,102,93,195,...,0.16%,2,8,0,0,0,c1a600e566,0,0,0
11,Love Parade Last Shoutout | Combo 2,DISRUPT WITH LOVE THIS SATURDAY! #FreeHugsNYC ...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,311,25,0,25,...,0.00%,0,2,0,0,0,a1aed6838d,0,0,0
12,Love Parade Last Shoutout | Combo 1,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,307,29,0,29,...,0.33%,2,4,0,0,0,f8f95de4ae,0,0,0
13,Love Parade Last Shoutout,NaN,Lightsource,"May 09, 2019 08:30 am",Thursday,1682,1558,124,0,124,...,0.32%,0,9,0,0,0,cbeb25b286,0,0,0
14,Love Parade Last Shoutout | Winner,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 05:29 pm",Thursday,1010,940,70,0,70,...,0.43%,5,3,0,0,0,b4c825516b,0,0,0

###### Select the row with our specific campaigns sum data

In [5]:
campaign_data = df_campaign_sum.iloc[6, 5:10].to_frame()

In [6]:
campaign_data = campaign_data.T.head()

In [7]:
campaign_data.reset_index(inplace=True)

In [8]:
campaign_data['campaign_id'] = campaign_data['index']

In [9]:
campaign_data = campaign_data.iloc[:, 1:]

In [10]:
campaign_data

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,campaign_id
0,1592,1582,4,6,10,6

In [11]:
dfbounce.shape

(8, 11)

In [12]:
dfclicks.shape

(2, 12)

In [13]:
dfnoopen.shape

(1358, 10)

In [14]:
dfopen.shape

(128, 11)

In [15]:
dfsent.shape

(1486, 10)

In [16]:
dfunsubscribe.shape

(6, 12)

# How to anonymize sensitive data in a mailchimp report, using a pandas dataframe

## Generate a blank list, where you can use the extend method with the tolist method to feed list versions of these email addresses from all the metrics in these dataframe.

In [17]:
full_email_list = [] #Thanks for help with this Thomas Ludlow!

In [18]:
full_email_list.extend(dfbounce['Email Address'].tolist())

In [19]:
full_email_list.extend(dfclicks['Email Address'].tolist())

In [20]:
full_email_list.extend(dfnoopen['Email Address'].tolist())

In [21]:
full_email_list.extend((dfopen['Email Address'].tolist()))

In [22]:
full_email_list.extend(dfsent['Email Address'].tolist())

In [23]:
full_email_list.extend(dfunsubscribe['Email Address'].tolist())

In [24]:
len(full_email_list)

2988

In [25]:
len(set(full_email_list))

1494

### Save as a set, to remove duplicates.  Now you have a concise set of emails

In [26]:
the_email_list6 = set(full_email_list)

In [27]:
the_email_list6 = pd.DataFrame(the_email_list6)

In [28]:
the_email_list6.head()

                        0
0      lastanco@gmail.com
1  nate.gorelik@gmail.com
2      elikhtig@gmail.com
3    badatvreck@yahoo.com
4      maryrtek@gmail.com

In [29]:
the_email_list6["Email Address"] = the_email_list6[0]

In [30]:
the_email_list6.pop(0).head()

0        lastanco@gmail.com
1    nate.gorelik@gmail.com
2        elikhtig@gmail.com
3      badatvreck@yahoo.com
4        maryrtek@gmail.com
Name: 0, dtype: object

In [31]:
the_email_list6.head()

            Email Address
0      lastanco@gmail.com
1  nate.gorelik@gmail.com
2      elikhtig@gmail.com
3    badatvreck@yahoo.com
4      maryrtek@gmail.com

In [32]:
the_email_list6.to_csv("email_list6.csv")

### Use a numpy random shuffling method such as below, to randomly shuffle your emails.

In [33]:
import numpy as np

In [34]:
shuffled_email_list = the_email_list6.reindex(np.random.permutation(the_email_list6.index))

In [35]:
shuffled_email_list.head()

                         Email Address
147               otrtroll@hotmail.com
337   caitlin.elise.connolly@gmail.com
318            edlopez@cristoreyny.org
558            jtdonchak@sbcglobal.net
1152          tierra.stecher@gmail.com

### Reset your index, so this new shuffled list now has an entirely new one.  Then delete the old 'index' column that contains your original index.

In [36]:
shuffled_email_list.reset_index(inplace = True)

In [37]:
shuffled_email_list.drop(columns=['index'],inplace = True)
shuffled_email_list.head()

                      Email Address
0              otrtroll@hotmail.com
1  caitlin.elise.connolly@gmail.com
2           edlopez@cristoreyny.org
3           jtdonchak@sbcglobal.net
4          tierra.stecher@gmail.com

In [38]:
shuffled_email_list.head()

                      Email Address
0              otrtroll@hotmail.com
1  caitlin.elise.connolly@gmail.com
2           edlopez@cristoreyny.org
3           jtdonchak@sbcglobal.net
4          tierra.stecher@gmail.com

### Set this new index as email_index - you will use this instead of sensitive data to anonymize your audience, once you pd.merge all lists to this index.

In [39]:
# Or do this process to the full list.

In [40]:
shuffled_email_list['email_id'] = shuffled_email_list.index

In [41]:
shuffled_email_list.head()

                      Email Address  email_id
0              otrtroll@hotmail.com         0
1  caitlin.elise.connolly@gmail.com         1
2           edlopez@cristoreyny.org         2
3           jtdonchak@sbcglobal.net         3
4          tierra.stecher@gmail.com         4

#### Save this outside of your repo or other publicly accessible directory.  This should be stored separately from any public git repos or anywhere else publicly accessible, and be used for your purposes only, to link this information back to your audience.

In [42]:
#shuffled_email_list.to_csv("/../../sensitive_info/email_secret_key.csv")

### Opens and no opens are a simple merger, where you impute the correct value to your no opens dataframe, 0, below.  They are then structured pretty much identically.

In [43]:
dfnoopen['Opens'] = 0

In [44]:
dfnoopen

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,farmingfox@gmail.com,Justin,Torrico,US,NaN,NaN,NaN,4TWYY2NT6H4Z4GP3067QF9JX5G,2.0,2,0
1,a_drew272@yahoo.com,a_drew,NaN,US,NaN,NaN,Solomons Contacts,4TZXXFAPG149GXBD5TJQNAYXCC,2.0,2,0
2,justinyoung@thevitalfarm.com,Justin,Young,US,NaN,NaN,NaN,ZA6HAC3WV92RENP2NF1PYTP8N0,2.0,2,0
3,haynes.ps@gmail.com,Peter,Haynes,US,NaN,NaN,Solomons Contacts,3BCFBP0K6D3DCTJM1BASRRNYV8,2.0,2,0
4,adopang@yahoo.com,Adrian,NaN,US,NaN,NaN,Solomons Contacts,59220KPPFN55JQS1QPTKCA6BNM,2.0,2,0
5,edadeniz@aol.com,Deniz,NaN,US,NaN,NaN,Solomons Contacts,RXDGFP7AM12Q8K05NRYX4STB2G,2.0,2,0
6,soawesome79@aol.com,Peter,McLeen,US,NaN,NaN,Solomons Contacts,QDY451ZHFD44RKFEH7V49254R0,2.0,2,0
7,Defneinhan@gmail.com,Dephne,Inhan,US,NaN,NaN,NaN,0X4RWNQDE1336KMFAKJ21EFEN4,2.0,2,0
8,kslatts26@yahoo.com,K,NaN,US,NaN,NaN,Solomons Contacts,ZV0KE6G8B10MYG2VSCX5PZTZB0,2.0,2,0
9,dhafer10@gmail.com,Derek,NaN,US,NaN,NaN,Solomons Contacts,CC0R20JME13TYYT0A4CS7FPEZC,2.0,2,0
10,adrianne.kuss@gmail.com,Adrianne,Kuss,US,NaN,NaN,Solomons Contacts,HPVA3K45N974CHBKYY1JRSPAHW,2.0,2,0
11,phanphoenix@gmail.com,phantomphoenix,gf,US,NaN,NaN,Solomons Contacts,BMRE30MJND2HRY4AR5AQ36VER0,2.0,2,0
12,kaiha.bertollini@gmail.com,Kaiha,Bertollini,US,NaN,NaN,NaN,C957MV0MED7PAJ3HF2GA53DGYG,2.0,2,0
13,pheralescapes@gmail.com,Pheral,Lamb,US,NaN,NaN,NaN,GEH3QSY1650DWH4EQTDPRBBYFC,2.0,3,0
14,cyrus0520@gmail.com,Phil,Elders,US,NaN,NaN,NaN,KRZGDESWSX03RNWZBR3W01C638,2.0,2,0
15,Kalin.rodgers@gmail.com,Kalin,Rodgers,US,NaN,NaN,NaN,H311DHYKN90J0JKQ5DYZ6Z09FW,2.0,2,0
16,queenielulubeanie@gmail.com,Desiree Lulukramer,Perkins,US,NaN,NaN,NaN,W9X5R8C5RH2QYG60TR9WBNAS4M,2.0,2,0
17,philipherring86@yahoo.com,Phil,NaN,US,NaN,NaN,Solomons Contacts,NBS4PZ72754T6S00CHWT2HPBNM,2.0,2,0
18,desmond.eaddy@gmail.com,Desmond,NaN,US,NaN,NaN,Solomons Contacts,5H56D8JDZ97ZEZQN2PZZK3SWAC,2.0,3,0
19,kds8508@gmail.com,kapeel,NaN,US,NaN,NaN,Solomons Contacts,FCDYSMX97S6N4N7TF6PEGH4A98,2.0,2,0
20,ambiguouscat@yahoo.com,Philip,Shlain,US,NaN,NaN,Solomons Contacts,HV5NDH8RK168CG5SGA0W8BP4RW,2.0,2,0
21,psteinberg920@aol.com,Philip,Steinberg,US,NaN,NaN,Solomons Contacts,FN6F5VJ0YH5Z8WRD28BJ7AEHR0,2.0,2,0
22,devikakumar20@gmail.com,devika,NaN,US,NaN,NaN,Solomons Contacts,T3MFCY7DD146TG3176MXEA2WS0,2.0,2,0
23,pzimmer123@gmail.com,Phoebe,NaN,US,NaN,NaN,Solomons Contacts,84W4V7BY8S6QWY4SK45E8P4AFR,2.0,4,0
24,karen.e.moy@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,7VTTW5RZF51Y6MY1GEYNB0X37W,2.0,2,0
25,karenlampiasi@aol.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,TQZ14MYW4N64EV0QYNABZCHQDR,2.0,2,0
26,dummyboy91@gmail.com,ahmed,abbas,US,NaN,NaN,Solomons Contacts,4KE0QWWT9N5JPXTPWA037KTDQC,2.0,2,0
27,kefredrickson@gmail.com,Karen,NaN,US,NaN,NaN,Solomons Contacts,6K47MPP85N7RAH99F4QR9E9P48,2.0,3,0
28,psomoray@gmail.com,Pierre,NaN,US,NaN,NaN,Solomons Contacts,AWCAK2MX31094WWKF0ZMTWPWZG,2.0,2,0
29,karin.luu@gmail.com,Karin,NaN,US,NaN,NaN,Solomons Contacts,17CG46SVD55XTJX9X4WXXD444G,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
1328,zeroecho@gmail.com,Zeroecho,NaN,US,NaN,NaN,Solomons Contacts,5PSYTX14E11TTSXX8R5RXJFAPW,2.0,2,0
1329,jordanblu@gmail.com,jordanblu,NaN,US,NaN,NaN,Solomons Contacts,3R2NZ27Y2H4D4XCH70TZ8SB1PG,2.0,2,0
1330,zhim.lin@gmail.com,Zhi,NaN,US,NaN,NaN,Solomons Contacts,NDYTG9H2CD35AVHT2EFB78161W,2.0,2,0
1331,pepevivero@yahoo.com,José,NaN,US,NaN,NaN,Solomons Contacts,TQV5T2M8257SENFQCVHNFJ4Z0G,2.0,2,0
1332,josephvdoria@gmail.com,Joseph,Doria,US,NaN,NaN,Solomons Contacts,H3B4KA84MH7GJX5YY4RSZ6PCTG,2.0,2,0
1333,zqzhu@yahoo.com,zqzhu,NaN,US,NaN,NaN,Solomons Contacts,BE4DTWMFFX73TYAZK9WSG8DPN8,2.0,2,0
1334,joewoodfield@gmail.com,Joseph,NaN,US,NaN,NaN,Solomons Contacts,ZY9WE82T7N0TGPW814A2M25ZNM,2.0,3,0
1335,zrodz7@aol.com,zrodz7,NaN,US,NaN,NaN,Solomons Contacts,D1JNJ28B151HERASWFTMK14F00,2.0,2,0
1336,josephmarengo@yahoo.com,Joseph,Marengo,US,NaN,NaN,Solomons Contacts,QZY87CXVA94BMSK2V8H43AJ8RM,2.0,2,0
1337,zuly1350@hotmail.com,Zuleika,Melendez,US,NaN,NaN,Solomons Contacts,CBZTYJ921X3VAH19QZ28QCNM84,2.0,2,0
1338,zamrada@chello.at,zummurud,NaN,US,NaN,NaN,NaN,0MRGE6CT7S0EGHE92T3NWZWV6G,2.0,2,0
1339,Joshua.m.cook@gmail.com,Josh,Cook,US,NaN,NaN,NaN,359G90YCQX3CEHQ8DS4BVNCAXG,2.0,2,0
1340,wheaton_2003_20@yahoo.com,josh,wheaton,US,NaN,NaN,Solomons Contacts,W978MYAAA1058P7KWV8FM2TDAG,2.0,2,0
1341,postmaster@spiritualnetworks.com,Spiritual,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
1342,fajrkegler@gmail.com,Fajr,Kegler,NJ US,NaN,NaN,NaN,NaN,2.0,3,0
1343,Victorialuanne@icloud.com,Victoria,Luanne,US,NaN,NaN,NaN,NaN,NaN,2,0
1344,Aviikumar9@gmail.com,Avi,Kumar,308 West 18th Street New York 10011 US,NaN,NaN,NaN,NaN,NaN,2,0
1345,ezraabskype@gmail.com,Dan,Aurian-blajeni,US,NaN,NaN,NaN,NaN,NaN,2,0
1346,finance@lightsourcetemple.org,Eric,Likhtiger,US,NaN,NaN,NaN,NaN,NaN,4,0
1347,jaysaltik@gmail.com,Jay,Saltik,US,NaN,NaN,NaN,NaN,NaN,2,0
1348,johanie87@yahoo.com,Johanie,Olivero,US,NaN,NaN,NaN,NaN,NaN,2,0
1349,jonathan.connors@gmail.com,Jon,Connor,4116 Mountain View Ave Oakland CA 94605 US,NaN,NaN,NaN,NaN,NaN,2,0
1350,kwl311@gmail.com,kathy,liu,11221 US,NaN,NaN,NaN,NaN,NaN,2,0
1351,mariatsaguriya@gmail.com,Maria,Tsaguriya,699 Willoughby Avenue 3E Brooklyn NY 11206...,NaN,NaN,NaN,NaN,NaN,2,0
1352,msofka0934@gmail.com,Marissa,Sofka,Poughkeepsie US,NaN,NaN,NaN,NaN,NaN,2,0
1353,justpatnyc@gmail.com,Patrick,McCan,74 homer street Binghamton NY 13903 US,NaN,NaN,NaN,NaN,NaN,3,0
1354,synthetic.soul@gmail.com,Stella,Stargazer,952 Aldus st 1D Bronx NY 10459 US,NaN,NaN,NaN,NaN,NaN,2,0
1355,Tesillasipher1@gmail.com,Tesfa,Ferris,1030 LongFellow Ave Bronx NY 10459 US,NaN,NaN,NaN,NaN,NaN,3,0
1356,mookiepookie1986@gmail.com,Zack,Peace,P.o box 834 Pocasset MA 02559 US,NaN,NaN,NaN,NaN,NaN,2,0
1357,zaviaeva@gmail.com,Zoya,Aviaeva,Brooklyn US,NaN,NaN,NaN,NaN,NaN,3,0

In [45]:
df_opens = dfopen.merge(dfnoopen, how = "outer")

In [46]:
df_opens.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1
1,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3,1
2,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1
3,aleyudico@gmail.com,Alejandro,NaN,US,NaN,NaN,Solomons Contacts,Z7QFNN4GNX742PP5XN6RNYH9MM,2.0,4,1
4,drmayhem@earthlink.net,drmayhem,NaN,US,NaN,NaN,Solomons Contacts,ZA3A16PFBX72EXJQ5WQ4AEP5T4,2.0,3,2

In [47]:
df_opens.shape

(1486, 11)

In [48]:
df_opens_sent = df_opens.merge(dfsent, how = "outer")

In [49]:
df_opens_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1
1,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3,1
2,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1
3,aleyudico@gmail.com,Alejandro,NaN,US,NaN,NaN,Solomons Contacts,Z7QFNN4GNX742PP5XN6RNYH9MM,2.0,4,1
4,drmayhem@earthlink.net,drmayhem,NaN,US,NaN,NaN,Solomons Contacts,ZA3A16PFBX72EXJQ5WQ4AEP5T4,2.0,3,2

#### the bounce and dataframe set are similar.  Just set the "Bounce type" in sent to "Sent" before merging.

In [50]:
dfbounce.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,plm36@columbia.edu,plm36,NaN,US,NaN,NaN,Solomons Contacts,AWN9HWXXK5268MFA0JJFXM5D6R,NaN,1,soft
1,Ralphalterbaum@gmail.com,Ralph,Alterbaum,US,NaN,NaN,NaN,BC4A11DGG503TGN1N577ZG5MAW,NaN,1,hard
2,sandra.marie.nurse@gmail.com,Sandra,Nurse,US,NaN,NaN,NaN,M9490KZDD1442T33ETCVGDADQR,NaN,1,hard
3,averyfrawley@gmail.com,Avery,Frawley,US,NaN,NaN,Solomons Contacts,4DBQ5T79596TWJXB9F7YSBGV6M,NaN,1,hard
4,revbastarrica@gmail.com,Susana,Bastarrica,US,NaN,NaN,Solomons Contacts,B0YW8A9EH53NYP95Q7ES0M35KW,NaN,1,hard

In [51]:
dfsent['Bounce Type'] = "sent"

In [52]:
dfsent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,farmingfox@gmail.com,Justin,Torrico,US,NaN,NaN,NaN,4TWYY2NT6H4Z4GP3067QF9JX5G,2.0,2,sent
1,a_drew272@yahoo.com,a_drew,NaN,US,NaN,NaN,Solomons Contacts,4TZXXFAPG149GXBD5TJQNAYXCC,2.0,2,sent
2,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,sent
3,justinyoung@thevitalfarm.com,Justin,Young,US,NaN,NaN,NaN,ZA6HAC3WV92RENP2NF1PYTP8N0,2.0,2,sent
4,haynes.ps@gmail.com,Peter,Haynes,US,NaN,NaN,Solomons Contacts,3BCFBP0K6D3DCTJM1BASRRNYV8,2.0,2,sent

In [53]:
df_bounce_or_sent = dfbounce.merge(dfsent, how='outer')

In [54]:
df_bounce_or_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,plm36@columbia.edu,plm36,NaN,US,NaN,NaN,Solomons Contacts,AWN9HWXXK5268MFA0JJFXM5D6R,NaN,1,soft
1,Ralphalterbaum@gmail.com,Ralph,Alterbaum,US,NaN,NaN,NaN,BC4A11DGG503TGN1N577ZG5MAW,NaN,1,hard
2,sandra.marie.nurse@gmail.com,Sandra,Nurse,US,NaN,NaN,NaN,M9490KZDD1442T33ETCVGDADQR,NaN,1,hard
3,averyfrawley@gmail.com,Avery,Frawley,US,NaN,NaN,Solomons Contacts,4DBQ5T79596TWJXB9F7YSBGV6M,NaN,1,hard
4,revbastarrica@gmail.com,Susana,Bastarrica,US,NaN,NaN,Solomons Contacts,B0YW8A9EH53NYP95Q7ES0M35KW,NaN,1,hard

In [55]:
#Our figure here, 1010, shows us we have a complete dataframe
df_bounce_or_sent.shape

(1494, 11)

#### This is the resultant dataframe we want, for each campaign.

In [56]:
df_opens_sents = df_opens_sent.merge(df_bounce_or_sent, how='outer')

In [57]:
df_opens_sents

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1.0,sent
1,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3,1.0,sent
2,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1.0,sent
3,aleyudico@gmail.com,Alejandro,NaN,US,NaN,NaN,Solomons Contacts,Z7QFNN4GNX742PP5XN6RNYH9MM,2.0,4,1.0,sent
4,drmayhem@earthlink.net,drmayhem,NaN,US,NaN,NaN,Solomons Contacts,ZA3A16PFBX72EXJQ5WQ4AEP5T4,2.0,3,2.0,sent
5,keithwoolford@hotmail.com,Keith,Woolford,US,NaN,NaN,Solomons Contacts,PR2WVDCN991B6PYKTEEN44QGXW,2.0,2,1.0,sent
6,kelly.shannon@gmail.com,Kelly,Shannon,US,NaN,NaN,Solomons Contacts,MNS313WBXS3RYRZA9EYMCSRGX4,2.0,4,1.0,sent
7,kelsey.m.weimer@gmail.com,Kelsey,Weimer,US,NaN,NaN,NaN,BTFYAE06595EWVJ0ZFZXNC6G1G,2.0,2,1.0,sent
8,keri@healingrootsdesign.com,Keri,Evjy,US,NaN,NaN,NaN,8HT7VNTXF948RY9VZ0VJQ40GR0,2.0,4,1.0,sent
9,rkisch8@gmail.com,Rebecca,Kisch,US,NaN,NaN,NaN,XPDZ3ZSQBH77WX34ZEE68CW1SW,2.0,3,4.0,sent
10,kronick.allison@gmail.com,Allison,NaN,US,NaN,NaN,Solomons Contacts,Y2WQVF4FZH6K2RTH1PGJEJXQZ8,2.0,2,1.0,sent
11,lizzcdelaney@gmail.com,Elizabeth,Delaney,US,NaN,NaN,NaN,XGQ781W3C15P2SBFS2CCZ2KPP8,2.0,2,1.0,sent
12,rebecca.winkelstein@gmail.com,Rebecca,NaN,US,NaN,NaN,Solomons Contacts,0FP7Y7F9V13A2SV39NDN84TWWW,2.0,2,1.0,sent
13,a_icilensu@yahoo.com,Altug,Icilensu,US,NaN,NaN,NaN,19NSE14QR97HWRFCYWXMSDGHY4,2.0,3,1.0,sent
14,kostas@gramercyep.com,Kostas,NaN,US,NaN,NaN,Solomons Contacts,XM9H35HFS56QJR52V0A1WGW7R8,2.0,2,1.0,sent
15,mydiskette777@gmail.com,Reynoso,NaN,US,NaN,NaN,Solomons Contacts,3T7HGHX8JN7FTSY2S1M4K35338,2.0,2,2.0,sent
16,kshah1378@gmail.com,Kulin,NaN,US,NaN,NaN,Solomons Contacts,8EW3HHX33D3QPQZGS5EMQDHEJM,2.0,3,1.0,sent
17,rshargel@gmail.com,Rima,NaN,US,NaN,NaN,Solomons Contacts,F0TAFSKQHN3J4WKG8WD77NEDY8,2.0,2,1.0,sent
18,rob.pimpinella@gmail.com,Rob,NaN,US,NaN,NaN,Solomons Contacts,C0KMY2Y5H16TYNJEY1VGXK11D0,2.0,4,1.0,sent
19,lara.sawczuk@gmail.com,Lara,NaN,US,NaN,NaN,Solomons Contacts,JQPMW42AF16WTW2S7QG45D2R2M,2.0,4,1.0,sent
20,amy.mcinnis@gmail.com,Amy,NaN,US,NaN,NaN,Solomons Contacts,85E2SZKP6N6RCYTPZHWSXWRRKM,2.0,4,1.0,sent
21,WhittakerWarner@gmail.com,Amy,Warner,US,NaN,NaN,NaN,KYHKK9JBN548RRJDKP5TQSHV98,2.0,3,1.0,sent
22,ericr61@gmail.com,Eric,Reinhardt,US,NaN,NaN,NaN,JMMTWCQ20D4A6H1GFHCA4FRAXG,2.0,2,1.0,sent
23,espirod@hotmail.com,Rodrigo,NaN,US,NaN,NaN,Solomons Contacts,28FJEYBSS12NCNT2M8AQ18QFR4,2.0,2,1.0,sent
24,rlacombe31@gmail.com,Romain,NaN,US,NaN,NaN,Solomons Contacts,MJWBW1VBXN1Y6Z0MKHMZZBC2M8,2.0,3,1.0,sent
25,ronnie1814@gmail.com,Ronnie,Thomas,US,NaN,NaN,Solomons Contacts,81EEER3XWD1BRX0NZD619R21KG,2.0,2,1.0,sent
26,ethan@19d.org,Ethan,NaN,US,NaN,NaN,Solomons Contacts,Y6F2X0RGW10EPW6EZQAX1K09HM,2.0,2,1.0,sent
27,evamhansson@gmail.com,Eva,Hansson,US,NaN,NaN,NaN,JX14NQAWEN6KCSH3JAVE4M3NVM,2.0,2,1.0,sent
28,lazarusrafael@gmail.com,Lazarus,NaN,US,NaN,NaN,NaN,SC14VYNEDN2YRVGHQJCJ2R48M8,2.0,2,3.0,sent
29,fitohito@gmail.com,Rudolph,Berain,US,NaN,NaN,NaN,TYT1ZDRB6N0JCSJT7QEFP145XM,2.0,4,1.0,sent
...,...,...,...,...,...,...,...,...,...,...,...,...
1464,josephmarengo@yahoo.com,Joseph,Marengo,US,NaN,NaN,Solomons Contacts,QZY87CXVA94BMSK2V8H43AJ8RM,2.0,2,0.0,sent
1465,zuly1350@hotmail.com,Zuleika,Melendez,US,NaN,NaN,Solomons Contacts,CBZTYJ921X3VAH19QZ28QCNM84,2.0,2,0.0,sent
1466,zamrada@chello.at,zummurud,NaN,US,NaN,NaN,NaN,0MRGE6CT7S0EGHE92T3NWZWV6G,2.0,2,0.0,sent
1467,Joshua.m.cook@gmail.com,Josh,Cook,US,NaN,NaN,NaN,359G90YCQX3CEHQ8DS4BVNCAXG,2.0,2,0.0,sent
1468,wheaton_2003_20@yahoo.com,josh,wheaton,US,NaN,NaN,Solomons Contacts,W978MYAAA1058P7KWV8FM2TDAG,2.0,2,0.0,sent
1469,postmaster@spiritualnetworks.com,Spiritual,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1470,fajrkegler@gmail.com,Fajr,Kegler,NJ US,NaN,NaN,NaN,NaN,2.0,3,0.0,sent
1471,Victorialuanne@icloud.com,Victoria,Luanne,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1472,Aviikumar9@gmail.com,Avi,Kumar,308 West 18th Street New York 10011 US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1473,ezraabskype@gmail.com,Dan,Aurian-blajeni,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1474,finance@lightsourcetemple.org,Eric,Likhtiger,US,NaN,NaN,NaN,NaN,NaN,4,0.0,sent
1475,jaysaltik@gmail.com,Jay,Saltik,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1476,johanie87@yahoo.com,Johanie,Olivero,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1477,jonathan.connors@gmail.com,Jon,Connor,4116 Mountain View Ave Oakland CA 94605 US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1478,kwl311@gmail.com,kathy,liu,11221 US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1479,mariatsaguriya@gmail.com,Maria,Tsaguriya,699 Willoughby Avenue 3E Brooklyn NY 11206...,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1480,msofka0934@gmail.com,Marissa,Sofka,Poughkeepsie US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1481,justpatnyc@gmail.com,Patrick,McCan,74 homer street Binghamton NY 13903 US,NaN,NaN,NaN,NaN,NaN,3,0.0,sent
1482,synthetic.soul@gmail.com,Stella,Stargazer,952 Aldus st 1D Bronx NY 10459 US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1483,Tesillasipher1@gmail.com,Tesfa,Ferris,1030 LongFellow Ave Bronx NY 10459 US,NaN,NaN,NaN,NaN,NaN,3,0.0,sent
1484,mookiepookie1986@gmail.com,Zack,Peace,P.o box 834 Pocasset MA 02559 US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
1485,zaviaeva@gmail.com,Zoya,Aviaeva,Brooklyn US,NaN,NaN,NaN,NaN,NaN,3,0.0,sent
1486,plm36@columbia.edu,plm36,NaN,US,NaN,NaN,Solomons Contacts,AWN9HWXXK5268MFA0JJFXM5D6R,NaN,1,NaN,soft
1487,Ralphalterbaum@gmail.com,Ralph,Alterbaum,US,NaN,NaN,NaN,BC4A11DGG503TGN1N577ZG5MAW,NaN,1,NaN,hard
1488,sandra.marie.nurse@gmail.com,Sandra,Nurse,US,NaN,NaN,NaN,M9490KZDD1442T33ETCVGDADQR,NaN,1,NaN,hard
1489,averyfrawley@gmail.com,Avery,Frawley,US,NaN,NaN,Solomons Contacts,4DBQ5T79596TWJXB9F7YSBGV6M,NaN,1,NaN,hard
1490,revbastarrica@gmail.com,Susana,Bastarrica,US,NaN,NaN,Solomons Contacts,B0YW8A9EH53NYP95Q7ES0M35KW,NaN,1,NaN,hard
1491,jack.massey@me.com,Jack,NaN,US,NaN,NaN,Solomons Contacts,TCQ1B0QBW919WKCGBZ12T0TTYM,2.0,1,NaN,soft
1492,miranda@bestofhumanity.is,Miranda,Clendening,US,NaN,NaN,NaN,MD0JQJN68H33YSZBWB12ADM12W,NaN,1,NaN,soft
1493,myles.worthington@ketchum.com,Worthington,NaN,US,NaN,NaN,Solomons Contacts,8PYCT3GGVD4VGNM579EVC3FXA8,2.0,1,NaN,soft

In [58]:
df_opens_sents.shape

(1494, 12)

In [59]:
df_opens_sents.isnull().sum()

Email Address            0
First Name               0
Last Name              786
Address                  0
Phone Number          1494
Birthday              1494
Reference ID           489
Square Customer ID      20
Member Rating           39
Member Rating.1          0
Opens                    8
Bounce Type              0
dtype: int64

#### Unsubscribes, along with clicks, are more concerned with the content of the email.  So we will also set these aside for now.

In [60]:
dfunsubscribe['unsubscibe reason'] = dfunsubscribe['reason']

In [61]:
dfunsubscribe['unsubscribe description'] = dfunsubscribe['description']

In [62]:
dfunsubscribe.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,reason,description,unsubscibe reason,unsubscribe description
0,holly.woodley@gmail.com,Holly,NaN,US,NaN,NaN,Solomons Contacts,BBBTQC8RJ93B8NH2414JXKAVXW,NaN,3,NaN,NaN,NaN,NaN
1,taxbax@gmail.com,Taylor,NaN,US,NaN,NaN,Solomons Contacts,TQB39TK6N51HYWHWK7ZE1P62VR,NaN,3,NaN,NaN,NaN,NaN
2,tm1018@gmail.com,Thomas,Ma,US,NaN,NaN,Solomons Contacts,M9YWKCT8953ETSKA532MRDV2CR,NaN,3,NORMAL,NaN,NORMAL,NaN
3,cwarner@gwmail.gwu.edu,Casey,NaN,US,NaN,NaN,Solomons Contacts,8T8KWXQBJD332JPZ65DN1EAHCW,NaN,3,NOSIGNUP,NaN,NOSIGNUP,NaN
4,clarknas@gmail.com,Nash,Clark,US,NaN,NaN,NaN,76CPFBPMSD7G2Y088MHQYFQMR4,NaN,3,NOSIGNUP,NaN,NOSIGNUP,NaN

#### Assign campaign ID

In [63]:
df_opens_sents['campaign_id'] = 6

In [64]:
df_opens_sents_complete = df_opens_sents.merge(campaign_data, how='right')

In [65]:
df_opens_sents_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4,1.0,sent,6,1592,1582,4,6,10
1,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3,1.0,sent,6,1592,1582,4,6,10
2,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3,1.0,sent,6,1592,1582,4,6,10
3,aleyudico@gmail.com,Alejandro,NaN,US,NaN,NaN,Solomons Contacts,Z7QFNN4GNX742PP5XN6RNYH9MM,2.0,4,1.0,sent,6,1592,1582,4,6,10
4,drmayhem@earthlink.net,drmayhem,NaN,US,NaN,NaN,Solomons Contacts,ZA3A16PFBX72EXJQ5WQ4AEP5T4,2.0,3,2.0,sent,6,1592,1582,4,6,10

#### Assign email ID, using the secret key generated with all emails, from Dataframe_Cleaning123456

In [66]:
secret_key = pd.read_csv("./../../sensitive_info/email_secret_keys123456.csv")

In [67]:
df_opens_sents_completed = df_opens_sents_complete.merge(secret_key, how = 'right')

In [68]:
df_opens_sents_completed.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,email_id
0,ivanovadt@gmail.com,Denitza,NaN,US,NaN,NaN,Solomons Contacts,20KCS5W1T52BEG0M5JPH41MJX8,2.0,4.0,1.0,sent,6.0,1592,1582,4,6,10,1579,1579
1,devinbalkind@gmail.com,Devin,Balkind,US,NaN,NaN,NaN,F2GTECKC552JRMV13C9BY9Q2K8,2.0,3.0,1.0,sent,6.0,1592,1582,4,6,10,982,982
2,diannesinclair@gmail.com,Dianne,NaN,US,NaN,NaN,Solomons Contacts,C219A6X07S65MZFEGB3QQ8C0N0,2.0,3.0,1.0,sent,6.0,1592,1582,4,6,10,1203,1203
3,aleyudico@gmail.com,Alejandro,NaN,US,NaN,NaN,Solomons Contacts,Z7QFNN4GNX742PP5XN6RNYH9MM,2.0,4.0,1.0,sent,6.0,1592,1582,4,6,10,729,729
4,drmayhem@earthlink.net,drmayhem,NaN,US,NaN,NaN,Solomons Contacts,ZA3A16PFBX72EXJQ5WQ4AEP5T4,2.0,3.0,2.0,sent,6.0,1592,1582,4,6,10,40,40

In [69]:
df6secure = df_opens_sents_completed.iloc[:, 9:]

In [92]:
df6secure.h"ead()

SyntaxError: EOL while scanning string literal (<ipython-input-92-5e9d8ed27a1b>, line 1)

In [93]:
df6secure.pop('Unnamed: 0')

KeyError: 'Unnamed: 0'

In [94]:
df6secure.head()

,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,email_id
0,4.0,1.0,sent,6.0,1592,1582,4,6,10,1579
1,3.0,1.0,sent,6.0,1592,1582,4,6,10,982
2,3.0,1.0,sent,6.0,1592,1582,4,6,10,1203
3,4.0,1.0,sent,6.0,1592,1582,4,6,10,729
4,3.0,2.0,sent,6.0,1592,1582,4,6,10,40

In [95]:
df6secure.isnull().sum()

Member Rating.1          201
Opens                      0
Bounce Type              201
campaign_id              201
Total Recipients         201
Successful Deliveries    201
Soft Bounces             201
Hard Bounces             201
Total Bounces            201
email_id                   0
dtype: int64

In [96]:
df6secure['Opens'].fillna(0, inplace=True)

In [97]:
df6secure.to_csv("df6secure.csv")