In [1]:
import numpy as np
import pandas as pd
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords 
from sklearn.metrics import confusion_matrix

In [2]:
import seaborn as sns

# How to anonymize sensitive data in a pandas dataframe

### 1) Load In The Data (this data directly below has been anonymized, this section is a tutorial and will not load anything.  You may insert your own csv of data to experiment with this, and see my results below.

In [28]:
#df = pd.read_csv("exampleonly.csv")

In [29]:
#df

In [30]:
#df.shape


### 2) Shuffle/Randomize, to change index so identifying info cannot be reverse engineered by anyone who may have access to all or part of the data as well.

In [31]:
#df_ls_total_shuffled = df.reindex(np.random.permutation(df.index))

## Remove columns of extraneuous and identifying data by making a new DF

##### There is obviously a decision to be made on what level of anonymity you must abide by and how much useful data you want from this most accessible data on users.  First names, last names, and emails, phone numbers, and street addresses, and customer ID's are obvious points of concern for anonymity.  With the mailchimp audience info below, you can run a linear regression on Member Ratings vs locations, for example, without concerns of breach of anonymity, as long as you are not using specific addresses as your location variable.  "Birthday" could also be used for age analysis, for example.  

##### Applying google analytics is required for further analysis of user behavior with this provided data.

In [32]:
#df_cleaned = df_ls_total_shuffled[["Member Rating", "MEMBER_RATING", "REGION", "TIMEZONE"]]

In [33]:
#df_cleaned.head()

# Save your cleaned, anonymized dataframe

In [34]:
#df_cleaned.to_csv("df_ls_cleaned_example.csv")

## And load your data, to see that it's been saved in a clean, anonymized form!  Your data can now be shared without concern of breach of anonymity.

In [35]:
clean_anon_df = pd.read_csv("df_ls_cleaned_example.csv")

### You may pop the old index to remove it if you wish.

In [36]:
clean_anon_df.pop("Unnamed: 0")

0        503
1        392
2        904
3       1305
4        661
5        296
6       1640
7        965
8       1506
9        963
10      1385
11       142
12      1172
13        20
14       667
15       379
16        46
17       182
18      1624
19      1675
20      1146
21       498
22        44
23       706
24       158
25       704
26      1306
27      1665
28      1391
29      1431
        ...
1647     208
1648     603
1649    1154
1650     240
1651     764
1652     126
1653     139
1654     450
1655     713
1656    1658
1657     300
1658     760
1659     575
1660    1364
1661       5
1662     216
1663     402
1664    1063
1665    1191
1666     229
1667    1237
1668     686
1669    1274
1670    1014
1671     929
1672     147
1673     186
1674     787
1675    1558
1676     839
Name: Unnamed: 0, Length: 1677, dtype: int64

### Your data is ready to be shared!

In [37]:
clean_anon_df.tail()

      Member Rating  MEMBER_RATING REGION TIMEZONE
1672            2.0              2     la      318
1673            2.0              2    NaN      NaN
1674            2.0              2    NaN      NaN
1675            2.0              2    NaN      NaN
1676            2.0              2    NaN      NaN

In [38]:
df_ls_total_sorted = clean_anon_df.sort_values(['MEMBER_RATING'], ascending=False)

In [39]:
df_ls_total_sorted.sum()

Member Rating    2992.0
MEMBER_RATING    3334.0
dtype: float64

In [181]:
df_ls_total_sorted.head()

      Member Rating  MEMBER_RATING REGION          TIMEZONE
1159            2.0              4     NY  America/New_York
549             2.0              4     la               318
1451            2.0              3    NaN               NaN
238             2.0              3    NaN               NaN
1036            2.0              3    NaN               NaN

In [ ]:
# try tfidf and hash vectorizers, tokenization, lemmatization 

# EDA on facebook data, POSSIBLY analytics on reactions?
# Analytics on Arc 38 data solo & combined with Lightsource 
# Clear readme, what are each of the notebooks and file?