# Fun with Neural Nets

---

# Tensorflow/Keras Lab: Digit Recognition

In this lab, you'll create a submission to [Kaggle's Digit Recognizer](https://www.kaggle.com/c/digit-recognizer) competition using a neural network you've built in Keras.

From Kaggle:

> MNIST ("Modified National Institute of Standards and Technology") is the de facto “hello world” dataset of computer vision. Since its release in 1999, this classic dataset of handwritten images has served as the basis for benchmarking classification algorithms. As new machine learning techniques emerge, MNIST remains a reliable resource for researchers and learners alike.

> In this competition, your goal is to correctly identify digits from a dataset of tens of thousands of handwritten images. We’ve curated a set of tutorial-style kernels which cover everything from regression to neural networks. We encourage you to experiment with different algorithms to learn first-hand what works well and how techniques compare.

Below is a procedure for building a neural network to recognize handwritten digits.  The data is from Kaggle, and you will submit your results to Kaggle to test how well you did!

1. Load the training data (`train.csv`) from Kaggle
2. Setup X and y (feature matrix and target vector)
3. Split X and y into train and test subsets.
4. Preprocess your data

   - When dealing with image data, you need to normalize your `X` by dividing each value by the max value of a pixel (255).
   - Since this is a multiclass classification problem, keras needs `y` to be a one-hot encoded matrix
   
5. Create your network.

   - Remember that for multi-class classification you need a softamx activation function on the output layer.
   - You may want to consider using regularization or dropout to improve performance.
   
6. Trian your network.
7. If you are unhappy with your model performance, try to tighten up your model by adding hidden layers, adding hidden layer units, chaning the activation functions on the hidden layers, etc.
8. Load in Kaggle's `test.csv`
9. Create your predictions (these should be numbers in the range 0-9).
10. Save your predictions and submit them to Kaggle.

---

For this lab, you should complete the above sequence of steps for _at least_ two of the three "configurations":

1. Using a `tensorflow` network
2. Using a `keras` "sequential" network
3. Using a `keras` convolutional network
4. Using a `tensorflow` convolutional network (we did _not_ cover this in class!)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import np_utils
from keras.datasets import mnist
from keras.utils import to_categorical

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_regression

Using TensorFlow backend.

In [2]:
# 1.Load the training data (train.csv) from Kaggle
training_df = pd.read_csv('digit-recognizer/train.csv')

In [3]:
training_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# 2.Setup X and y (feature matrix and target vector) 
X = training_df.drop(columns = 'label')
y = training_df['label']

In [5]:
# 3. Split X and y into train and test subsets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [6]:
X_train.shape

(31500, 784)

In [7]:
X_test.shape

(10500, 784)

## 4. Preprocess your data

In [8]:
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')

In [9]:
X_train_sc = X_train/255
X_test_sc = X_test/255

In [10]:
X_train_sc = X_train_sc.values.reshape(X_train_sc.shape[0], 28, 28, 1)
X_test_sc = X_test_sc.values.reshape(X_test_sc.shape[0], 28, 28, 1)

In [11]:
y_train = pd.get_dummies(y_train)
y_test = pd.get_dummies(y_test)

In [12]:
#y_train = y_train.values

In [13]:
#y_test = y_test.values

## Create Your Network

In [14]:
model = Sequential()

In [15]:
model.add(Flatten())

In [16]:


model.add(Dense(128, input_shape=(28, 28), activation='relu'))

model.add(Dense(10, activation='relu'))

model.compile(loss = 'categorical_crossentropy',
             optimizer='adam',
             metrics=['accuracy'])

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [18]:
model.fit(X_train_sc,
          y_train.values, 
          batch_size=128,
          validation_data=(X_test_sc, y_test),
          epochs=10,
          verbose=1)

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 31500 samples, validate on 10500 samples
Epoch 1/10
31500/31500 [==============================] - 2s 60us/step - loss: nan - acc: 0.2534 - val_loss: nan - val_acc: 0.0976
Epoch 2/10
31500/31500 [==============================] - 2s 55us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 3/10
31500/31500 [==============================] - 2s 61us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 4/10
31500/31500 [==============================] - 2s 51us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 5/10
31500/31500 [==============================] - 2s 50us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 6/10
31500/31500 [==============================] - 1s 47us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 7/10
31500/31500 [==============================] - 1s 47us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 8/10
31500/31500 [==============================] - 2s 52us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 9/10
31500/31500 [==============================] - 2s 64us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976
Epoch 10/10
31500/31500 [==============================] - 2s 76us/step - loss: nan - acc: 0.0986 - val_loss: nan - val_acc: 0.0976

In [19]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten_1 (Flatten)          (None, 784)               0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               100480
_________________________________________________________________
dense_2 (Dense)              (None, 10)                1290
=================================================================
Total params: 101,770
Trainable params: 101,770
Non-trainable params: 0
_________________________________________________________________

In [20]:
score = model.evaluate(X_test_sc,
                      y_test,
                      verbose = 1)

labels = model.metrics_names

10500/10500 [==============================] - 0s 25us/step

In [21]:
score

[nan, 0.09761904761904762]

In [22]:
print(f'{labels[0]}: {score[0]}')
print(f'{labels[1]}: {score[1]}') # Why is my sequential model so bad?

loss: nan
acc: 0.09761904761904762

## CNN MODEL

In [69]:
cnn_model = Sequential()

In [70]:
cnn_model.add(Conv2D(filters = 8,            # number of filters
                     kernel_size = 3,        # height/width of filter
                     activation='relu',      # activation function 
                     input_shape=(28,28,1))) # shape of input (image)

In [71]:
cnn_model.add(MaxPooling2D(pool_size=(2,2)))

In [72]:
cnn_model.add(Conv2D(16,
                     kernel_size=3,
                     activation='relu'))

In [73]:
cnn_model.add(MaxPooling2D(pool_size=(2,2)))

In [74]:
cnn_model.add(Flatten())

In [75]:
cnn_model.add(Dense(128, activation='relu'))

In [76]:
cnn_model.add(Dense(10, activation='softmax'))

In [77]:
cnn_model.compile(loss='categorical_crossentropy',
                  optimizer='adam',
                  metrics=['accuracy'])

In [78]:
cnn_model.fit(X_train_sc,
              y_train.values,
              batch_size=64,
              validation_data=(X_test_sc, y_test),
              epochs=15,
              verbose=1)

Train on 31500 samples, validate on 10500 samples
Epoch 1/15
31500/31500 [==============================] - 9s 282us/step - loss: 0.3231 - acc: 0.9079 - val_loss: 0.1278 - val_acc: 0.9627
Epoch 2/15
31500/31500 [==============================] - 8s 249us/step - loss: 0.0939 - acc: 0.9717 - val_loss: 0.0813 - val_acc: 0.9747
Epoch 3/15
31500/31500 [==============================] - 8s 247us/step - loss: 0.0694 - acc: 0.9783 - val_loss: 0.0576 - val_acc: 0.9820
Epoch 4/15
31500/31500 [==============================] - 8s 249us/step - loss: 0.0551 - acc: 0.9831 - val_loss: 0.0619 - val_acc: 0.9803
Epoch 5/15
31500/31500 [==============================] - 8s 248us/step - loss: 0.0451 - acc: 0.9861 - val_loss: 0.0519 - val_acc: 0.9828
Epoch 6/15
31500/31500 [==============================] - 8s 249us/step - loss: 0.0392 - acc: 0.9879 - val_loss: 0.0465 - val_acc: 0.9859
Epoch 7/15
31500/31500 [==============================] - 8s 247us/step - loss: 0.0332 - acc: 0.9891 - val_loss: 0.0422 - val_acc: 0.9872
Epoch 8/15
31500/31500 [==============================] - 8s 254us/step - loss: 0.0273 - acc: 0.9913 - val_loss: 0.0461 - val_acc: 0.9855
Epoch 9/15
31500/31500 [==============================] - 8s 252us/step - loss: 0.0221 - acc: 0.9928 - val_loss: 0.0710 - val_acc: 0.9790
Epoch 10/15
31500/31500 [==============================] - 8s 251us/step - loss: 0.0217 - acc: 0.9930 - val_loss: 0.0554 - val_acc: 0.9835
Epoch 11/15
31500/31500 [==============================] - 8s 255us/step - loss: 0.0176 - acc: 0.9942 - val_loss: 0.0576 - val_acc: 0.9837
Epoch 12/15
31500/31500 [==============================] - 9s 298us/step - loss: 0.0163 - acc: 0.9941 - val_loss: 0.0494 - val_acc: 0.9860
Epoch 13/15
31500/31500 [==============================] - 8s 262us/step - loss: 0.0127 - acc: 0.9963 - val_loss: 0.0452 - val_acc: 0.9868
Epoch 14/15
31500/31500 [==============================] - 8s 266us/step - loss: 0.0121 - acc: 0.9959 - val_loss: 0.0500 - val_acc: 0.9867
Epoch 15/15
31500/31500 [==============================] - 9s 272us/step - loss: 0.0110 - acc: 0.9967 - val_loss: 0.0461 - val_acc: 0.9877

In [82]:
cnn_score = cnn_model.evaluate(X_test_sc,
                              y_test,
                              verbose=1)

10500/10500 [==============================] - 1s 103us/step

In [83]:
cnn_labels = cnn_model.metrics_names

In [84]:
print(f'CNN {cnn_labels[0]}  : {cnn_score[0]}')
print(f'CNN {cnn_labels[1]}   : {cnn_score[1]}')

CNN loss  : 0.046079806208902264
CNN acc   : 0.9877142857142858

In [35]:
print(f'CNN {cnn_labels[0]}  : {cnn_score[0]}')
print(f'CNN {cnn_labels[1]}   : {cnn_score[1]}')
print()
print(f'FFNN {labels[0]} : {score[0]}')
print(f'FFNN {labels[1]}  : {score[1]}')

CNN loss  : 0.07258203695994979
CNN acc   : 0.9779047619047619

FFNN loss : nan
FFNN acc  : 0.09761904761904762

## 8. Load in Kaggle's test.csv

In [85]:
test_df = pd.read_csv('digit-recognizer/test.csv')

In [86]:
test_df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0


### 9. Create your predictions (these should be numbers in the range 0-9).

In [87]:
test_df = test_df.astype('float32')

In [88]:
test_df /= 255

In [89]:
test_df = test_df.values.reshape(test_df.shape[0], 28, 28, 1 )

In [90]:
preds = cnn_model.predict_classes(test_df)

In [91]:
preds_df = pd.DataFrame(preds, columns = ['Label'])

In [92]:
preds_df.index.name = 'ImageID'

In [93]:
preds_df.index += 1

In [94]:
preds_df.head(50)

         Label
ImageID
1            2
2            0
3            9
4            9
5            3
6            7
7            0
8            3
9            0
10           3
11           5
12           7
13           4
14           0
15           4
16           3
17           3
18           1
19           9
20           0
21           9
22           1
23           1
24           5
25           7
26           4
27           2
28           7
29           4
30           7
31           7
32           5
33           4
34           2
35           6
36           2
37           5
38           5
39           1
40           6
41           7
42           7
43           4
44           9
45           8
46           7
47           8
48           2
49           6
50           7

In [95]:
preds.shape

(28000,)

In [96]:
preds_df.to_csv('Thirdsub.csv')