In [100]:
import pandas as pd

## Import CSV's as pandas Dataframes for each individual mailchimp metric in the reports

In [176]:
dfbounce =  pd.read_csv("members_Love_Parade_Last_Shoutout_Combo_2_bounces_May_19_2019.csv")
#dfclicks =  pd.read_csv("members_Love_Parade_Last_Shoutout_Combo_2_clicks_May_19_2019.csv") no clicks on this one
dfnoopen = pd.read_csv("members_Love_Parade_Last_Shoutout_Combo_2_not_opened_May_19_2019.csv")
dfopen = pd.read_csv("members_Love_Parade_Last_Shoutout_Combo_2_opened_May_19_2019.csv")
dfsent = pd.read_csv("members_Love_Parade_Last_Shoutout_Combo_2_sent_May_19_2019.csv")
dfunsubscribe = pd.read_csv("members_Love_Parade_Last_Shoutout_Combo_2_unsub-reasons_May_19_2019.csv")

In [177]:
# Sum campaign data
df_campaign_sum = pd.read_csv("../../campaign_sum_data.csv")

In [178]:
df_campaign_sum

,Title,Subject,List,Send Date,Send Weekday,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,...,Click Rate,Total Clicks,Unsubscribes,Abuse Complaints,Times Liked on Facebook,Folder Id,Unique Id,Total Orders,Total Gross Sales,Total Revenue
0,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource Envisioning 2019: Meetup & Tea Par...,Lightsource,"Dec 12, 2018 07:45 am",Wednesday,937,783,28,126,154,...,0.13%,1,14,0,0,0,dfbbba4bf8,0,0,0
1,(copy 01),Register as a member before New Years to get y...,Lightsource,"Dec 21, 2018 07:45 am",Friday,1839,1784,39,16,55,...,0.22%,5,65,0,0,0,1e819b6ddd,0,0,0
2,Escape The Planet // Off To Space,FRIDAY NIGHT - Escape The Planet // OFF TO SPACE,Lightsource,"Feb 21, 2019 09:59 pm",Thursday,1760,1723,31,6,37,...,0.29%,6,31,0,0,0,84c4abc48c,0,0,0
3,Free Hugs,10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 11, 2019 07:30 am",Monday,1890,1700,46,144,190,...,0.12%,2,20,0,0,0,325eb1f748,0,0,0
4,Stickers 2019 fundraiser,LAST CHANCE get free pack of stickers before t...,Lightsource,"Mar 16, 2019 08:45 am",Saturday,1726,1652,33,41,74,...,0.54%,11,38,1,0,0,2cb6b6e6f5,0,0,0
5,Free Hugs (copy 01),10 year anniversary of FREE HUGS NYC - Come ou...,Lightsource,"Mar 22, 2019 08:15 am",Friday,1648,1594,9,45,54,...,0.19%,3,10,0,0,0,bdfcb490de,0,0,0
6,Free Hugs (copy 02),This Saturday Annual Pillow Fight at Washingto...,Lightsource,"Apr 04, 2019 12:15 am",Thursday,1592,1582,4,6,10,...,0.25%,4,10,0,0,0,6db38d21e8,0,0,0
7,Love Parade and More | Combo 1,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,199,183,5,11,16,...,0.55%,1,1,0,0,0,652dbec20c,0,0,0
8,Love Parade and More | Combo 2,Disrupt with JOY! Parade For Love Next Sunday,Lightsource,"May 05, 2019 07:29 am",Sunday,198,170,14,14,28,...,0.59%,1,2,0,0,0,47d54435c8,0,0,0
9,Love Parade and More,NaN,Lightsource,"May 05, 2019 07:30 am",Sunday,1809,1570,121,118,239,...,0.25%,0,11,0,0,0,a94ce6d5bc,0,0,0
10,Love Parade and More | Winner,Disrupt With LOVE! Parade For Love Next Sunday,Lightsource,"May 05, 2019 11:29 am",Sunday,1412,1217,102,93,195,...,0.16%,2,8,0,0,0,c1a600e566,0,0,0
11,Love Parade Last Shoutout | Combo 2,DISRUPT WITH LOVE THIS SATURDAY! #FreeHugsNYC ...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,311,25,0,25,...,0.00%,0,2,0,0,0,a1aed6838d,0,0,0
12,Love Parade Last Shoutout | Combo 1,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 08:29 am",Thursday,336,307,29,0,29,...,0.33%,2,4,0,0,0,f8f95de4ae,0,0,0
13,Love Parade Last Shoutout,NaN,Lightsource,"May 09, 2019 08:30 am",Thursday,1682,1558,124,0,124,...,0.32%,0,9,0,0,0,cbeb25b286,0,0,0
14,Love Parade Last Shoutout | Winner,PARADE FOR LOVE THIS SATURDAY - #FreeHugsNYC A...,Lightsource,"May 09, 2019 05:29 pm",Thursday,1010,940,70,0,70,...,0.43%,5,3,0,0,0,b4c825516b,0,0,0

###### Select the row with our specific campaigns sum data

In [179]:
campaign_data = df_campaign_sum.iloc[11, 5:10].to_frame()

In [180]:
campaign_data = campaign_data.T.head()

In [181]:
campaign_data.reset_index(inplace=True)

In [182]:
campaign_data['campaign_id'] = campaign_data['index']

In [183]:
campaign_data = campaign_data.iloc[:, 1:]

In [184]:
campaign_data

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,campaign_id
0,336,311,25,0,25,11

In [185]:
dfbounce.shape

(25, 11)

In [186]:
#dfclicks.shape

In [187]:
dfnoopen.shape

(292, 10)

In [188]:
dfopen.shape

(19, 11)

In [189]:
dfsent.shape

(311, 10)

In [190]:
dfunsubscribe.shape

(2, 12)

# How to anonymize sensitive data in a mailchimp report, using a pandas dataframe

## Generate a blank list, where you can use the extend method with the tolist method to feed list versions of these email addresses from all the metrics in these dataframe.

In [191]:
full_email_list = [] #Thanks for help with this Thomas Ludlow!

In [192]:
full_email_list.extend(dfbounce['Email Address'].tolist())

In [193]:
full_email_list.extend(dfclicks['Email Address'].tolist())

NameError: name 'dfclicks' is not defined

In [194]:
full_email_list.extend(dfnoopen['Email Address'].tolist())

In [195]:
full_email_list.extend((dfopen['Email Address'].tolist()))

In [196]:
full_email_list.extend(dfsent['Email Address'].tolist())

In [197]:
full_email_list.extend(dfunsubscribe['Email Address'].tolist())

In [198]:
len(full_email_list)

649

In [199]:
len(set(full_email_list))

336

### Save as a set, to remove duplicates.  Now you have a concise set of emails

In [200]:
the_email_list11 = set(full_email_list)

In [201]:
the_email_list11 = pd.DataFrame(the_email_list11)

In [202]:
the_email_list11.head()

                            0
0         l.mejia21@gmail.com
1      lindan_123@hotmail.com
2      eric.brown@elliman.com
3  jonathan.connors@gmail.com
4     larkin@alumni.brown.edu

In [203]:
the_email_list11["Email Address"] = the_email_list11[0]

In [204]:
the_email_list11.pop(0).head()

0           l.mejia21@gmail.com
1        lindan_123@hotmail.com
2        eric.brown@elliman.com
3    jonathan.connors@gmail.com
4       larkin@alumni.brown.edu
Name: 0, dtype: object

In [205]:
the_email_list11.head()

                Email Address
0         l.mejia21@gmail.com
1      lindan_123@hotmail.com
2      eric.brown@elliman.com
3  jonathan.connors@gmail.com
4     larkin@alumni.brown.edu

In [206]:
the_email_list11.to_csv("email_list11.csv")

### Use a numpy random shuffling method such as below, to randomly shuffle your emails.

In [207]:
import numpy as np

In [208]:
shuffled_email_list = the_email_list11.reindex(np.random.permutation(the_email_list11.index))

In [209]:
shuffled_email_list.head()

                            Email Address
137          hidenori_yui1225@yahoo.co.jp
244                   occupymax@gmail.com
71                     surellee@gmail.com
199  jackofalltradescontracting@yahoo.com
270           anastasiia.savina@gmail.com

### Reset your index, so this new shuffled list now has an entirely new one.  Then delete the old 'index' column that contains your original index.

In [210]:
shuffled_email_list.reset_index(inplace = True)

In [211]:
shuffled_email_list.drop(columns=['index'],inplace = True)
shuffled_email_list.head()

                          Email Address
0          hidenori_yui1225@yahoo.co.jp
1                   occupymax@gmail.com
2                    surellee@gmail.com
3  jackofalltradescontracting@yahoo.com
4           anastasiia.savina@gmail.com

In [212]:
shuffled_email_list.head()

                          Email Address
0          hidenori_yui1225@yahoo.co.jp
1                   occupymax@gmail.com
2                    surellee@gmail.com
3  jackofalltradescontracting@yahoo.com
4           anastasiia.savina@gmail.com

### Set this new index as email_index - you will use this instead of sensitive data to anonymize your audience, once you pd.merge all lists to this index.

In [213]:
# Or do this process to the full list.

In [214]:
shuffled_email_list['email_id'] = shuffled_email_list.index

In [215]:
shuffled_email_list.head()

                          Email Address  email_id
0          hidenori_yui1225@yahoo.co.jp         0
1                   occupymax@gmail.com         1
2                    surellee@gmail.com         2
3  jackofalltradescontracting@yahoo.com         3
4           anastasiia.savina@gmail.com         4

#### Save this outside of your repo or other publicly accessible directory.  This should be stored separately from any public git repos or anywhere else publicly accessible, and be used for your purposes only, to link this information back to your audience.

In [217]:
shuffled_email_list.to_csv("../../../sensitive_info/email_secret_key11.csv")

### Opens and no opens are a simple merger, where you impute the correct value to your no opens dataframe, 0, below.  They are then structured pretty much identically.

In [218]:
dfnoopen['Opens'] = 0

In [219]:
dfnoopen

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,adopang@yahoo.com,Adrian,NaN,US,NaN,NaN,Solomons Contacts,59220KPPFN55JQS1QPTKCA6BNM,2.0,2,0
1,edadeniz@aol.com,Deniz,NaN,US,NaN,NaN,Solomons Contacts,RXDGFP7AM12Q8K05NRYX4STB2G,2.0,2,0
2,Defneinhan@gmail.com,Dephne,Inhan,US,NaN,NaN,NaN,0X4RWNQDE1336KMFAKJ21EFEN4,2.0,2,0
3,philipherring86@yahoo.com,Phil,NaN,US,NaN,NaN,Solomons Contacts,NBS4PZ72754T6S00CHWT2HPBNM,2.0,2,0
4,ambiguouscat@yahoo.com,Philip,Shlain,US,NaN,NaN,Solomons Contacts,HV5NDH8RK168CG5SGA0W8BP4RW,2.0,2,0
5,psomoray@gmail.com,Pierre,NaN,US,NaN,NaN,Solomons Contacts,AWCAK2MX31094WWKF0ZMTWPWZG,2.0,2,0
6,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2,0
7,ramsash@mail.ru,Ajpu,NaN,US,NaN,NaN,NaN,BSJQV5WXRD0AAMPA5PFBT90G8G,2.0,2,0
8,katieb716@gmail.com,Kate,NaN,US,NaN,NaN,Solomons Contacts,C6WBMVCA5D4RRG3DWQ8YRHK40G,2.0,2,0
9,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,0
10,dschwahn@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,P1QYB05DSS7TWGX8TFSZZKVRPR,2.0,2,0
11,katherine.leigh.bryan@gmail.com,Katherine,NaN,US,NaN,NaN,Solomons Contacts,51KEYNA1K17XYT65P945ZHX58M,2.0,2,0
12,dianellycorrea@yahoo.com,Dianelly,Correa,US,NaN,NaN,Solomons Contacts,FMK0ZC7NZ157GSA7VFC2Y7SW4G,2.0,2,0
13,arochelle_23@hotmail.com,Alba,NaN,US,NaN,NaN,Solomons Contacts,95EGG9PJES018WQ3PPAS0R91VM,2.0,2,0
14,nysharpprinting@gmail.com,diego,NaN,US,NaN,NaN,Solomons Contacts,9GYQ1YM6XX634ZF1EZYZ7W0200,2.0,2,0
15,Priscillatufano@yahoo.com,Priscilla,NaN,US,NaN,NaN,NaN,1HW00ZCM7S4DEGHF7FZFCZ7RCG,2.0,2,0
16,vitaalberta@gmail.com,Alberta,NaN,US,NaN,NaN,Solomons Contacts,TZ1CYQQ5D128GYM1S3KHY56SS0,2.0,2,0
17,dilainan90@gmail.com,Dila,Inan,US,NaN,NaN,NaN,34G3X676H114JH44EBGYDK3MCM,2.0,2,0
18,alecg092@gmail.com,Alec,Gary,US,NaN,NaN,NaN,2WAA2RC34H4D0W4K8HY317SX5R,2.0,2,0
19,crymsun.moon@gmail.com,DNA,Ciccarone,US,NaN,NaN,NaN,FX8J31YWFN4D6YPR3GJNPC1KGM,2.0,2,0
20,Lifesmystory@gmail.com,Rachel,NaN,US,NaN,NaN,NaN,T97Y1HPEG564RXAT1DAJ7A72FG,2.0,2,0
21,ejc.soprano2@gmail.com,E.,Crawford,US,NaN,NaN,Solomons Contacts,69PHE81WHH59PNZNPMGSBWJTHM,2.0,2,0
22,justemailme23@hotmail.com,ALEXANDER,NaN,US,NaN,NaN,Solomons Contacts,E4Q4SFD52D75YZVJ9NT952FTHM,2.0,2,0
23,keelsnwheels@yahoo.com,keelsnwheels,NaN,US,NaN,NaN,Solomons Contacts,W2GYX3JEZ12AGN46BDMCTH33D8,2.0,2,0
24,schragis.rachel@gmail.com,Rachel,Schragis,US,NaN,NaN,NaN,RXAB8XSDSN69CGDRW96AYX2W9M,2.0,2,0
25,keith_chiosie@yahoo.com,Keith,Chiosie,US,NaN,NaN,NaN,GR2E18TVJN200YS8EJCK7K2R94,2.0,2,0
26,keithwoolford@hotmail.com,Keith,Woolford,US,NaN,NaN,Solomons Contacts,PR2WVDCN991B6PYKTEEN44QGXW,2.0,2,0
27,rafaelvelez111@gmail.com,Rafael,NaN,US,NaN,NaN,Solomons Contacts,JZTF6RGVMH364M82PA1C84TK20,2.0,2,0
28,D.alexi.t@gmail.com,Alexi,NaN,US,NaN,NaN,NaN,ZY4AF2D6852VPSYTNEM75DTFS0,2.0,2,0
29,kelsey.m.weimer@gmail.com,Kelsey,Weimer,US,NaN,NaN,NaN,BTFYAE06595EWVJ0ZFZXNC6G1G,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
262,joly@punkcast.com,Joly,MacFie,US,NaN,NaN,NaN,W7MSYXSQM51T6Q2M3CAPWP415M,2.0,2,0
263,zkubany@hotmail.com,Darius,NaN,US,NaN,NaN,NaN,T4R6PFYDT11ZWV55NF5A8QQP58,2.0,2,0
264,hidenori_yui1225@yahoo.co.jp,Yui,NaN,US,NaN,NaN,Solomons Contacts,RQ16HXDW1D4AEZAX94YFMP55CR,2.0,2,0
265,tinyuin.chien@gmail.com,Yuin,NaN,US,NaN,NaN,Solomons Contacts,5270V5SD3N2PMX201EBDAGQTHG,2.0,2,0
266,yvan.us.nasr@gmail.com,Yvan,NaN,US,NaN,NaN,Solomons Contacts,ZBYMPBXJQD17AS6FWXNVJ4EY2R,2.0,2,0
267,zdmanangel@aol.com,zdmanangel,NaN,US,NaN,NaN,Solomons Contacts,SSR6PR251X0NCQ84MZJFRC2JD4,2.0,2,0
268,pepevivero@yahoo.com,José,NaN,US,NaN,NaN,Solomons Contacts,TQV5T2M8257SENFQCVHNFJ4Z0G,2.0,2,0
269,zamrada@chello.at,zummurud,NaN,US,NaN,NaN,NaN,0MRGE6CT7S0EGHE92T3NWZWV6G,2.0,2,0
270,postmaster@spiritualnetworks.com,Spiritual,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
271,Victorialuanne@icloud.com,Victoria,Luanne,US,NaN,NaN,NaN,NaN,NaN,2,0
272,johanie87@yahoo.com,Johanie,Olivero,US,NaN,NaN,NaN,NaN,NaN,2,0
273,jonathan.connors@gmail.com,Jon,Connor,4116 Mountain View Ave Oakland CA 94605 US,NaN,NaN,NaN,NaN,NaN,2,0
274,Scorpion196550@gmail.com,Aaron,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
275,adakokosar@me.com,Ada,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
276,adacitron@yahoo.com,Ada,C,US,NaN,NaN,NaN,NaN,NaN,2,0
277,deanna6657@aol.com,Deanna,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
278,debhamby@me.com,Deb,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
279,superstar654jj@gmail.com,Joshua,Jones,US,NaN,NaN,NaN,NaN,NaN,2,0
280,jcmuller@gmail.com,Juan,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
281,judithmoves@gmail.com,Judith,Ginzberg,US,NaN,NaN,NaN,NaN,NaN,3,0
282,Jmfesko@aol.com,Julia,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
283,julia.kitcey@gmail.com,Julia,Kitcey,US,NaN,NaN,NaN,NaN,NaN,2,0
284,sandsofosiris@gmail.com,Julia Ra,Osiris,US,NaN,NaN,NaN,NaN,NaN,2,0
285,juliehopeb@gmail.com,Julie,Balter,US,NaN,NaN,NaN,NaN,NaN,2,0
286,wholehealing@gmail.com,Justin,Green,US,NaN,NaN,NaN,NaN,NaN,2,0
287,justin.roeber@gmail.com,Justin,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
288,pankajbhushan@gmail.com,pankaj,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0
289,mercurypub@sbcglobal.net,Patrice,Kaufman,US,NaN,NaN,NaN,NaN,NaN,2,0
290,paulo_amorim@me.com,Paulo,Amorim,US,NaN,NaN,NaN,NaN,NaN,2,0
291,multilocal@gmail.com,Pedro,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0

In [220]:
df_opens = dfopen.merge(dfnoopen, how = "outer")

In [221]:
df_opens.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,eileenlfield@gmail.com,Eileen,NaN,US,NaN,NaN,Solomons Contacts,SD1YGTMQ9X44CNZZW5BSB6Q0F4,2.0,3,1
1,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,2
2,ln551@nyu.edu,Lauri,NaN,US,NaN,NaN,Solomons Contacts,XZ32ZVA4K13E0VTWSBJN6AM2WM,2.0,3,1
3,samanthaheydt@gmail.com,SAM,NaN,US,NaN,NaN,Solomons Contacts,MEZACYB28H07JJKEJHMGJK8098,2.0,3,1
4,info@silverandsagejewelry.com,Silver,Sage,US,NaN,NaN,NaN,NZXMCKQ1VX38GZXKFQCSJCJ76R,2.0,3,1

In [222]:
df_opens.shape

(311, 11)

In [223]:
df_opens_sent = df_opens.merge(dfsent, how = "outer")

In [224]:
df_opens_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens
0,eileenlfield@gmail.com,Eileen,NaN,US,NaN,NaN,Solomons Contacts,SD1YGTMQ9X44CNZZW5BSB6Q0F4,2.0,3,1
1,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,2
2,ln551@nyu.edu,Lauri,NaN,US,NaN,NaN,Solomons Contacts,XZ32ZVA4K13E0VTWSBJN6AM2WM,2.0,3,1
3,samanthaheydt@gmail.com,SAM,NaN,US,NaN,NaN,Solomons Contacts,MEZACYB28H07JJKEJHMGJK8098,2.0,3,1
4,info@silverandsagejewelry.com,Silver,Sage,US,NaN,NaN,NaN,NZXMCKQ1VX38GZXKFQCSJCJ76R,2.0,3,1

#### the bounce and dataframe set are similar.  Just set the "Bounce type" in sent to "Sent" before merging.

In [225]:
dfbounce.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,jackofalltradescontracting@yahoo.com,Adrian,Slezak,US,NaN,NaN,Solomons Contacts,YVM7XRNQCX112JE3V73CN2HBN4,NaN,1,soft
1,mebz45@yahoo.com,Ralph,Zollo,US,NaN,NaN,Solomons Contacts,YDGM2XHJP54V6T8MJJNR5RSKXW,NaN,1,soft
2,capoiesta@yahoo.com,ray,webster,US,NaN,NaN,Solomons Contacts,S5PAN0ZBG94XAJTSWMYDKJ7618,2.0,1,soft
3,kookiebrookie@yahoo.com,kookiebrookie,NaN,US,NaN,NaN,Solomons Contacts,M589ETWEC1124WX361B7CYJP1G,NaN,1,soft
4,kyle_stephens2@yahoo.com,Kyle,Stephens,US,NaN,NaN,Solomons Contacts,6KQ2JS4DSD37RYZTRMEMVG5640,2.0,1,soft

In [226]:
dfsent['Bounce Type'] = "sent"

In [227]:
dfsent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,adopang@yahoo.com,Adrian,NaN,US,NaN,NaN,Solomons Contacts,59220KPPFN55JQS1QPTKCA6BNM,2.0,2,sent
1,edadeniz@aol.com,Deniz,NaN,US,NaN,NaN,Solomons Contacts,RXDGFP7AM12Q8K05NRYX4STB2G,2.0,2,sent
2,Defneinhan@gmail.com,Dephne,Inhan,US,NaN,NaN,NaN,0X4RWNQDE1336KMFAKJ21EFEN4,2.0,2,sent
3,philipherring86@yahoo.com,Phil,NaN,US,NaN,NaN,Solomons Contacts,NBS4PZ72754T6S00CHWT2HPBNM,2.0,2,sent
4,ambiguouscat@yahoo.com,Philip,Shlain,US,NaN,NaN,Solomons Contacts,HV5NDH8RK168CG5SGA0W8BP4RW,2.0,2,sent

In [228]:
df_bounce_or_sent = dfbounce.merge(dfsent, how='outer')

In [229]:
df_bounce_or_sent.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Bounce Type
0,jackofalltradescontracting@yahoo.com,Adrian,Slezak,US,NaN,NaN,Solomons Contacts,YVM7XRNQCX112JE3V73CN2HBN4,NaN,1,soft
1,mebz45@yahoo.com,Ralph,Zollo,US,NaN,NaN,Solomons Contacts,YDGM2XHJP54V6T8MJJNR5RSKXW,NaN,1,soft
2,capoiesta@yahoo.com,ray,webster,US,NaN,NaN,Solomons Contacts,S5PAN0ZBG94XAJTSWMYDKJ7618,2.0,1,soft
3,kookiebrookie@yahoo.com,kookiebrookie,NaN,US,NaN,NaN,Solomons Contacts,M589ETWEC1124WX361B7CYJP1G,NaN,1,soft
4,kyle_stephens2@yahoo.com,Kyle,Stephens,US,NaN,NaN,Solomons Contacts,6KQ2JS4DSD37RYZTRMEMVG5640,2.0,1,soft

In [230]:
#Our figure here, 1010, shows us we have a complete dataframe
df_bounce_or_sent.shape

(336, 11)

#### This is the resultant dataframe we want, for each campaign.

In [231]:
df_opens_sent = df_opens_sent.merge(df_bounce_or_sent, how='outer')

In [232]:
df_opens_sent

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type
0,eileenlfield@gmail.com,Eileen,NaN,US,NaN,NaN,Solomons Contacts,SD1YGTMQ9X44CNZZW5BSB6Q0F4,2.0,3,1.0,sent
1,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,2.0,sent
2,ln551@nyu.edu,Lauri,NaN,US,NaN,NaN,Solomons Contacts,XZ32ZVA4K13E0VTWSBJN6AM2WM,2.0,3,1.0,sent
3,samanthaheydt@gmail.com,SAM,NaN,US,NaN,NaN,Solomons Contacts,MEZACYB28H07JJKEJHMGJK8098,2.0,3,1.0,sent
4,info@silverandsagejewelry.com,Silver,Sage,US,NaN,NaN,NaN,NZXMCKQ1VX38GZXKFQCSJCJ76R,2.0,3,1.0,sent
5,hilaryjlake@gmail.com,Hilary,Lake,US,NaN,NaN,NaN,EAWC5R381548JS8AQKWWCTWTB4,2.0,3,1.0,sent
6,brookegassel@gmail.com,brooke,gassel,US,NaN,NaN,NaN,YTXHH2HDMD5P0M5Z677KZNP910,2.0,3,1.0,sent
7,burns.caitlin@gmail.com,Caitlin,Burns,US,NaN,NaN,NaN,CG61QW9BMS6M8MTM7XX6F0CXDC,2.0,3,1.0,sent
8,theyellowunicorn@gmail.com,mia,NaN,US,NaN,NaN,Solomons Contacts,TFZA2649Z17TTHAYYEC63YFFF0,2.0,3,1.0,sent
9,humanendeavors@me.com,Michael,Steeves,US,NaN,NaN,NaN,PH9J5HXC0H7TPT51MH657QZH0C,2.0,3,1.0,sent
10,terence.adams@gmail.com,Terence,NaN,US,NaN,NaN,Solomons Contacts,A4CCK165CS6A8WEDJSE19NYNVR,2.0,3,1.0,sent
11,mlkj21@gmail.com,Michelle,Kaplan,US,NaN,NaN,NaN,5ZRJFW0CVN1VRSNYVPEP03VCEG,2.0,3,1.0,sent
12,pope19@gmail.com,Chris,NaN,US,NaN,NaN,Solomons Contacts,FTH0QK75CN19AV8FH3G52ZF8GR,2.0,4,1.0,sent
13,jentavesdesign@gmail.com,jennifer,taves,US,NaN,NaN,NaN,XV813XS5SH6T6S3KWYRHH27K1W,2.0,3,1.0,sent
14,jenny@webtigress.com,Jenny,Harada,US,NaN,NaN,NaN,YNVTZJ35BD31PHRH292CEC9ANG,2.0,3,1.0,sent
15,nmerchants@gmail.com,Natascha,NaN,US,NaN,NaN,Solomons Contacts,ZWGD8K2KGS194VHHPVEWJ2JE1W,2.0,3,2.0,sent
16,joanna.c.yang@gmail.com,Joanna,NaN,US,NaN,NaN,Solomons Contacts,BDR9ZC9NG963GS1TS1BWGASF48,2.0,3,1.0,sent
17,jdubin212@gmail.com,Jonathan,NaN,US,NaN,NaN,Solomons Contacts,EG5BA355DS4M8JGB96897V4HER,2.0,3,1.0,sent
18,darren.fortunato@gmail.com,Darren,Forunato,US,NaN,NaN,NaN,NaN,NaN,3,1.0,sent
19,adopang@yahoo.com,Adrian,NaN,US,NaN,NaN,Solomons Contacts,59220KPPFN55JQS1QPTKCA6BNM,2.0,2,0.0,sent
20,edadeniz@aol.com,Deniz,NaN,US,NaN,NaN,Solomons Contacts,RXDGFP7AM12Q8K05NRYX4STB2G,2.0,2,0.0,sent
21,Defneinhan@gmail.com,Dephne,Inhan,US,NaN,NaN,NaN,0X4RWNQDE1336KMFAKJ21EFEN4,2.0,2,0.0,sent
22,philipherring86@yahoo.com,Phil,NaN,US,NaN,NaN,Solomons Contacts,NBS4PZ72754T6S00CHWT2HPBNM,2.0,2,0.0,sent
23,ambiguouscat@yahoo.com,Philip,Shlain,US,NaN,NaN,Solomons Contacts,HV5NDH8RK168CG5SGA0W8BP4RW,2.0,2,0.0,sent
24,psomoray@gmail.com,Pierre,NaN,US,NaN,NaN,Solomons Contacts,AWCAK2MX31094WWKF0ZMTWPWZG,2.0,2,0.0,sent
25,ecolake@gmail.com,Devin,Irby,US,NaN,NaN,NaN,1PSHCCT1GS696H3TY699KXXXFW,2.0,2,0.0,sent
26,ramsash@mail.ru,Ajpu,NaN,US,NaN,NaN,NaN,BSJQV5WXRD0AAMPA5PFBT90G8G,2.0,2,0.0,sent
27,katieb716@gmail.com,Kate,NaN,US,NaN,NaN,Solomons Contacts,C6WBMVCA5D4RRG3DWQ8YRHK40G,2.0,2,0.0,sent
28,dmr587@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,MP4JCHTD197B0KTSPD5EWYZ08M,2.0,2,0.0,sent
29,dschwahn@gmail.com,Diana,NaN,US,NaN,NaN,Solomons Contacts,P1QYB05DSS7TWGX8TFSZZKVRPR,2.0,2,0.0,sent
...,...,...,...,...,...,...,...,...,...,...,...,...
306,justin.roeber@gmail.com,Justin,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
307,pankajbhushan@gmail.com,pankaj,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
308,mercurypub@sbcglobal.net,Patrice,Kaufman,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
309,paulo_amorim@me.com,Paulo,Amorim,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
310,multilocal@gmail.com,Pedro,NaN,US,NaN,NaN,NaN,NaN,NaN,2,0.0,sent
311,jackofalltradescontracting@yahoo.com,Adrian,Slezak,US,NaN,NaN,Solomons Contacts,YVM7XRNQCX112JE3V73CN2HBN4,NaN,1,NaN,soft
312,mebz45@yahoo.com,Ralph,Zollo,US,NaN,NaN,Solomons Contacts,YDGM2XHJP54V6T8MJJNR5RSKXW,NaN,1,NaN,soft
313,capoiesta@yahoo.com,ray,webster,US,NaN,NaN,Solomons Contacts,S5PAN0ZBG94XAJTSWMYDKJ7618,2.0,1,NaN,soft
314,kookiebrookie@yahoo.com,kookiebrookie,NaN,US,NaN,NaN,Solomons Contacts,M589ETWEC1124WX361B7CYJP1G,NaN,1,NaN,soft
315,kyle_stephens2@yahoo.com,Kyle,Stephens,US,NaN,NaN,Solomons Contacts,6KQ2JS4DSD37RYZTRMEMVG5640,2.0,1,NaN,soft
316,savitrid@earthlink.net,savitri,d,US,NaN,NaN,NaN,DB90HJEY055RRW59XEC2B1HRB4,NaN,1,NaN,soft
317,guapluger@yahoo.com,Guap,Luger,US,NaN,NaN,Solomons Contacts,Z590RC9DTD18CGZFJXYMZF0Z0C,2.0,1,NaN,soft
318,enrriquebryhus@yahoo.com,Gustavo,Panesso,US,NaN,NaN,Solomons Contacts,7T8AE298BS55YS7EMVZ7K9MD88,2.0,1,NaN,soft
319,maniraja_shanmugam@yahoo.com,Maniraja,Shanmugam,US,NaN,NaN,Solomons Contacts,5Y78JN9M0X76YTTPRP6SGWEFDR,2.0,1,NaN,soft
320,gypsonny@yahoo.com,gypsonny,NaN,US,NaN,NaN,Solomons Contacts,E5TEQ1227N6C4X93EZNVQNFXJG,NaN,1,NaN,soft
321,tossingpebbles@yahoo.com,Heather,Hamilton,US,NaN,NaN,NaN,XGWA23TVAN04AR9K766G5KTSS4,2.0,1,NaN,soft
322,hudson.lloyd@abel-maldonado.com,Hudson,NaN,US,NaN,NaN,Solomons Contacts,1TWB61S1351W8M8J957R39GX84,NaN,1,NaN,soft
323,gsroper@gstevenroper.com,Steven,Roper,US,NaN,NaN,Solomons Contacts,ZQVWEXTR9D5JEVDDDBCJSQJKAM,NaN,1,NaN,soft
324,iamstevenson@yahoo.com,STEVENSON,VAN DERODAR,US,NaN,NaN,Solomons Contacts,W690ES094S6VAP4PR2CP4321SR,NaN,1,NaN,soft
325,superman4ever11@yahoo.com,superman4ever,NaN,US,NaN,NaN,Solomons Contacts,ESW0GQCH616DCV99P9QAMAKCY4,2.0,1,NaN,soft
326,nytigger45@yahoo.com,Michael,NaN,US,NaN,NaN,Solomons Contacts,38XE0HP8MS2AAQFSDR1F0HR8RR,2.0,1,NaN,soft
327,jeremygotwals@yahoo.com,Jeremy,Gotwals,US,NaN,NaN,Solomons Contacts,TJXTB36XEN1SYGMKBV589AK5P8,2.0,1,NaN,soft
328,veronicahord@yahoo.com,veronica,NaN,US,NaN,NaN,Solomons Contacts,JQT0Y1YRP903JHVAV7ZG2J2H4W,2.0,1,NaN,soft
329,vitos.email@yahoo.com,Vito,Abramov,US,NaN,NaN,Solomons Contacts,22VRR3AJPS2F0R7K299363X8C0,2.0,1,NaN,soft
330,joaquinmcastro@yahoo.com,Joaquin,Castro,US,NaN,NaN,Solomons Contacts,J7MAEAXXDD0CTMNKPYRNRZFT38,2.0,1,NaN,soft
331,oleg@usethewand.com,oleg,NaN,US,NaN,NaN,Solomons Contacts,0R3QAA05MH68RM6WZ625AWVDHW,NaN,1,NaN,soft
332,myles.worthington@ketchum.com,Worthington,NaN,US,NaN,NaN,Solomons Contacts,8PYCT3GGVD4VGNM579EVC3FXA8,2.0,1,NaN,soft
333,naturalbless45@yahoo.com,John,NaN,US,NaN,NaN,Solomons Contacts,DMFH983G0113AT7DEGPQQWCS8C,2.0,1,NaN,soft
334,john@sistereden.com,John,Robinette,US,NaN,NaN,NaN,K10VVXEYW54PTSBASY6GQNRYE0,2.0,1,NaN,soft
335,papergangproductions@gmail.com,papergangproductions,NaN,US,NaN,NaN,NaN,NaN,NaN,1,NaN,soft

In [233]:
df_opens_sent.shape

(336, 12)

In [234]:
df_opens_sent.isnull().sum()

Email Address           0
First Name              0
Last Name             171
Address                 0
Phone Number          336
Birthday              336
Reference ID          128
Square Customer ID     24
Member Rating          34
Member Rating.1         0
Opens                  25
Bounce Type             0
dtype: int64

#### Unsubscribes, along with clicks, are more concerned with the content of the email.  So we will also set these aside for now.

In [235]:
dfunsubscribe['unsubscibe reason'] = dfunsubscribe['reason']

In [236]:
dfunsubscribe['unsubscribe description'] = dfunsubscribe['description']

In [237]:
dfunsubscribe.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,reason,description,unsubscibe reason,unsubscribe description
0,eileenlfield@gmail.com,Eileen,NaN,US,NaN,NaN,Solomons Contacts,SD1YGTMQ9X44CNZZW5BSB6Q0F4,2,3,NOSIGNUP,NaN,NOSIGNUP,NaN
1,pope19@gmail.com,Chris,NaN,US,NaN,NaN,Solomons Contacts,FTH0QK75CN19AV8FH3G52ZF8GR,2,4,NaN,NaN,NaN,NaN

In [238]:
campaign_data

,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,campaign_id
0,336,311,25,0,25,11

#### Assign campaign ID

In [239]:
df_opens_sent['campaign_id'] = 11

In [240]:
df_opens_sent_complete = df_opens_sent.merge(campaign_data, how='right')

In [241]:
df_opens_sent_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces
0,eileenlfield@gmail.com,Eileen,NaN,US,NaN,NaN,Solomons Contacts,SD1YGTMQ9X44CNZZW5BSB6Q0F4,2.0,3,1.0,sent,11,336,311,25,0,25
1,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3,2.0,sent,11,336,311,25,0,25
2,ln551@nyu.edu,Lauri,NaN,US,NaN,NaN,Solomons Contacts,XZ32ZVA4K13E0VTWSBJN6AM2WM,2.0,3,1.0,sent,11,336,311,25,0,25
3,samanthaheydt@gmail.com,SAM,NaN,US,NaN,NaN,Solomons Contacts,MEZACYB28H07JJKEJHMGJK8098,2.0,3,1.0,sent,11,336,311,25,0,25
4,info@silverandsagejewelry.com,Silver,Sage,US,NaN,NaN,NaN,NZXMCKQ1VX38GZXKFQCSJCJ76R,2.0,3,1.0,sent,11,336,311,25,0,25

#### Assign email ID, using the secret key generated with all emails, from Dataframe_Cleaning_All

In [244]:
secret_key = pd.read_csv("../../../sensitive_info/secret_keys.csv")

In [245]:
df_opens_sent_complete = df_opens_sent_complete.merge(secret_key, how = 'right')

In [246]:
df_opens_sent_complete.head()

,Email Address,First Name,Last Name,Address,Phone Number,Birthday,Reference ID,Square Customer ID,Member Rating,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,Unnamed: 0,email_id
0,eileenlfield@gmail.com,Eileen,NaN,US,NaN,NaN,Solomons Contacts,SD1YGTMQ9X44CNZZW5BSB6Q0F4,2.0,3.0,1.0,sent,11.0,336,311,25,0,25,1203,1203
1,andrewsa@newpaltz.edu,Alice,Andrews,US,NaN,NaN,NaN,4PZWKHGZXH6GPXV98FAV02EV9M,2.0,3.0,2.0,sent,11.0,336,311,25,0,25,1080,1080
2,ln551@nyu.edu,Lauri,NaN,US,NaN,NaN,Solomons Contacts,XZ32ZVA4K13E0VTWSBJN6AM2WM,2.0,3.0,1.0,sent,11.0,336,311,25,0,25,482,482
3,samanthaheydt@gmail.com,SAM,NaN,US,NaN,NaN,Solomons Contacts,MEZACYB28H07JJKEJHMGJK8098,2.0,3.0,1.0,sent,11.0,336,311,25,0,25,551,551
4,info@silverandsagejewelry.com,Silver,Sage,US,NaN,NaN,NaN,NZXMCKQ1VX38GZXKFQCSJCJ76R,2.0,3.0,1.0,sent,11.0,336,311,25,0,25,1180,1180

In [247]:
df11secure = df_opens_sent_complete.iloc[:, 9:]

In [258]:
df11secure.shape

(1790, 10)

In [259]:
df11secure.pop('Unnamed: 0')

KeyError: 'Unnamed: 0'

In [260]:
df11secure.head(100)

,Member Rating.1,Opens,Bounce Type,campaign_id,Total Recipients,Successful Deliveries,Soft Bounces,Hard Bounces,Total Bounces,email_id
0,3.0,1.0,sent,11.0,336,311,25,0,25,1203
1,3.0,2.0,sent,11.0,336,311,25,0,25,1080
2,3.0,1.0,sent,11.0,336,311,25,0,25,482
3,3.0,1.0,sent,11.0,336,311,25,0,25,551
4,3.0,1.0,sent,11.0,336,311,25,0,25,1180
5,3.0,1.0,sent,11.0,336,311,25,0,25,795
6,3.0,1.0,sent,11.0,336,311,25,0,25,1570
7,3.0,1.0,sent,11.0,336,311,25,0,25,1648
8,3.0,1.0,sent,11.0,336,311,25,0,25,578
9,3.0,1.0,sent,11.0,336,311,25,0,25,10
10,3.0,1.0,sent,11.0,336,311,25,0,25,1673
11,3.0,1.0,sent,11.0,336,311,25,0,25,95
12,4.0,1.0,sent,11.0,336,311,25,0,25,1605
13,3.0,1.0,sent,11.0,336,311,25,0,25,99
14,3.0,1.0,sent,11.0,336,311,25,0,25,186
15,3.0,2.0,sent,11.0,336,311,25,0,25,1671
16,3.0,1.0,sent,11.0,336,311,25,0,25,1068
17,3.0,1.0,sent,11.0,336,311,25,0,25,1267
18,3.0,1.0,sent,11.0,336,311,25,0,25,1452
19,2.0,0.0,sent,11.0,336,311,25,0,25,1292
20,2.0,0.0,sent,11.0,336,311,25,0,25,822
21,2.0,0.0,sent,11.0,336,311,25,0,25,166
22,2.0,0.0,sent,11.0,336,311,25,0,25,1682
23,2.0,0.0,sent,11.0,336,311,25,0,25,1190
24,2.0,0.0,sent,11.0,336,311,25,0,25,1215
25,2.0,0.0,sent,11.0,336,311,25,0,25,588
26,2.0,0.0,sent,11.0,336,311,25,0,25,788
27,2.0,0.0,sent,11.0,336,311,25,0,25,1091
28,2.0,0.0,sent,11.0,336,311,25,0,25,1279
29,2.0,0.0,sent,11.0,336,311,25,0,25,362
...,...,...,...,...,...,...,...,...,...,...
70,2.0,0.0,sent,11.0,336,311,25,0,25,1539
71,2.0,0.0,sent,11.0,336,311,25,0,25,734
72,2.0,0.0,sent,11.0,336,311,25,0,25,1225
73,2.0,0.0,sent,11.0,336,311,25,0,25,120
74,2.0,0.0,sent,11.0,336,311,25,0,25,1061
75,2.0,0.0,sent,11.0,336,311,25,0,25,60
76,2.0,0.0,sent,11.0,336,311,25,0,25,1224
77,2.0,0.0,sent,11.0,336,311,25,0,25,574
78,2.0,0.0,sent,11.0,336,311,25,0,25,273
79,2.0,0.0,sent,11.0,336,311,25,0,25,567
80,2.0,0.0,sent,11.0,336,311,25,0,25,1231
81,2.0,0.0,sent,11.0,336,311,25,0,25,282
82,2.0,0.0,sent,11.0,336,311,25,0,25,462
83,2.0,0.0,sent,11.0,336,311,25,0,25,1159
84,2.0,0.0,sent,11.0,336,311,25,0,25,397
85,2.0,0.0,sent,11.0,336,311,25,0,25,543
86,2.0,0.0,sent,11.0,336,311,25,0,25,389
87,2.0,0.0,sent,11.0,336,311,25,0,25,12
88,2.0,0.0,sent,11.0,336,311,25,0,25,982
89,2.0,0.0,sent,11.0,336,311,25,0,25,1226
90,2.0,0.0,sent,11.0,336,311,25,0,25,619
91,2.0,0.0,sent,11.0,336,311,25,0,25,978
92,2.0,0.0,sent,11.0,336,311,25,0,25,1719
93,2.0,0.0,sent,11.0,336,311,25,0,25,19
94,2.0,0.0,sent,11.0,336,311,25,0,25,419
95,2.0,0.0,sent,11.0,336,311,25,0,25,1585
96,2.0,0.0,sent,11.0,336,311,25,0,25,181
97,2.0,0.0,sent,11.0,336,311,25,0,25,612
98,2.0,0.0,sent,11.0,336,311,25,0,25,1097
99,2.0,0.0,sent,11.0,336,311,25,0,25,590

In [261]:
df11secure.isnull().sum()

Member Rating.1          1454
Opens                       0
Bounce Type              1454
campaign_id              1454
Total Recipients         1454
Successful Deliveries    1454
Soft Bounces             1454
Hard Bounces             1454
Total Bounces            1454
email_id                    0
dtype: int64

In [262]:
df11secure['Opens'].fillna(0, inplace=True)

In [263]:
df11secure.to_csv("df11secure.csv")